[2021-05-27 22:54] anjunatl commented on #1860
Future `npm run watch` loopers,

- if you've committed any [fonts](https://github.com/JeffreyWay/laravel-mix/issues/228#issuecomment-276866093) or [images](https://github.com/JeffreyWay/laravel-mix/issues/228#issuecomment-278325103) into `public/` , move them into `resources/` or elsewhere & copy them to `public/` in `webpack.mix.js`
- if you're using font-awesome this might apply to you: https://

[2021-05-28 07:58] malinushj commented on #2770
@nelson6e65 my solution for that was to downgrade the `webpack-dev-server@4.0.0-beta.1` ... man this whole webpack v5 upgrade is a mess across all packages.

[2021-05-28 08:32] shmdesign commented on #2936
Hi @thecrypticace. I am not sure this is the same issue but when I launch ```npm run watch```, it still starts with firing twice. I am using ```mix 6.0.19``` and ```tailwindcss 2.1.1```.

Those are my npm scripts:
[code]

Any idea how can I fix this?

Thanks

[2021-05-28 11:55] maxxscho commented on #2928
It seems this error is gone - I'm on `6.0.19`.
Didn't change anything else.

Can anyone confirm this?

[2021-05-28 15:40] plweil opened #2992 "How to enable Sass sourceMapEmbed?"
-   Laravel Mix Version: 6.0.19 (`npm list --depth=0`)
-   Node Version (`node -v`): 12.20.1
-   NPM Version (`npm -v`): 7.14.0
-   OS: Mac OS X 10.15.7
- Laravel: 6.20

### Description:

I am trying to enable sass sourceMapEmbed when running Mix for dev-only. I still don't see the css sourcemaps in Chrome Devtools. Do I have the sassOptions set correctly in webpack.mix.js?

### Steps To Reproduce

[2021-05-28 17:54] plweil commented on #2935
Update (using Mix 6.0.19): after resetting to defaults and reloading Devtool (Chrome Devtool Settings), I now see source maps. This is using the following in `webpack.mix.js`:

`mix.sass.sourceMaps(true, 'source-map')`

Great. But what is not so great, though, is that setting `webpack.mix.js` to:

`mix.sass.sourceMaps(false, 'eval-source-map')`

does *not* even generate css.map files. Note that `

[2021-05-28 19:11] EvgeniaWeb commented on #1072
Помогите пожалуйста найти ошибку при вводе команды npm run dev выдает

Женя@DESKTOP-2O5UR37 MINGW64 ~/Desktop/webpacktemplate
$ npm run dev

internal/modules/cjs/loader.js:888
  throw err;
  ^

Error: Cannot find module 'webpack-cli/bin/config-yargs'
Require stack:
- C:\Users\Женя\Desktop\webpacktemplate\node_modules\webpack-dev-server\bin\webpack-dev-server.js
    at Function.Module._resolveFilen

[2021-05-28 21:44] alikhani97 commented on #1072
Run this : `npm install --save-dev webpack webpack-cli webpack-dev-server`

[2021-05-29 10:39] EvgeniaWeb commented on #1072
увы все равно выдает ошибку( сделала по новой вот весь мой путь в терминале((( на сколько эта ошибка критична в дальнейшей работе?

Женя@DESKTOP-2O5UR37 MINGW64 ~/Desktop/webpacktest
$ npm init
This utility will walk you through creating a package.json file.
It only covers the most common items, and tries to guess sensible defaults.

See `npm help init` for definitive documentation on these fields

[2021-05-29 17:11] StanleyMasinde commented on #1072
For those still facing this issue. Please do the the following
Use the latest stable of nodejs from nodejs.org

Also upgrade to Laravel mix 6 (Not related to the problem)

[2021-05-30 04:56] saadabdurrazaq commented on #2515
I have the same problem. Any solution?

[2021-05-30 12:11] dducro commented on #2781
The same error is also thrown if they're multiple images with the same name in separate folders. When compiling vue with mix 6 the images are copied to one directory named images. That seems to cause this issue. Any idea to disable this?

[2021-05-30 12:16] dducro commented on #2983
Likely related to #2781

[code]

And the second: `resources/img/cards/road/1-b.jpg`

It's possible to rename all images and basically add the path to the image name, so they're unique after copied to `public/images`

[2021-05-30 14:57] Kaynite commented on #2983
This will lead to a race-condition and corrupted files on case-insensitive file systems.

Having the same issue. any solutions instead of renaming all files?

[2021-05-31 11:19] hsumudupriya commented on #2969
Hi @marchershey, I used above configs as below and ran `npm run dev` which in actually run `cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --loglevel error --no-progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js`.

`
const mix = require('laravel-mix');
.
.
.
.
mix.exports = {
    stats: 'none'
}
`

But still the terminal is printed with above warn

[2021-05-31 11:40] hammadshahir commented on #2766
After these changes, if you still get error, run **npm instal**l again and then **npm run dev**

[2021-05-31 15:28] rafwell opened #2993 "NPM RUN WATCH works on the first run, but returns error when saving any file"
-   Laravel Mix Version: 6.0.19
-   Node Version v12.22.1
-   NPM Version (`npm -v`): 7.13.0
-   OS: Ubuntu 20.04
-   VUE: 3

### Description:
I have a LARAVEL project that is using vue3. The error started when adding the typescript to the project.
When running npm run watch for the first time, no error appears on the console, but when saving any file, an error appears stating the same problem in

[2021-05-31 23:12] mallardduck commented on #2986
Per the details here: https://github.com/watson/bonjour/issues/63

This issue should be resolved now. The version that mix follows should - in theory - pull the patched version when running install/update.

[2021-06-01 08:06] efroim102 commented on #2986
I can confirm that installing _6.0.19_ fresh resolves this issue.

If you have a previous version of **laravel-mix** installed, you might need to delete the `node_modules` directory and the `package-lock.json` file so that npm doesn't keep an old version of the dependency with this issue and instead uses the latest.

[2021-06-01 13:07] danielbachhuber commented on #2928
I can confirm the issue appears to be fixed in `6.0.19`. It's not clear why!

@thecrypticace Were you able to track down the problem?

[2021-06-01 19:46] thecrypticace commented on #2928
So we haven't released the fix yet that reverts the vue-style-loader change so it's not something we did. 👀

[2021-06-01 21:03] rafwell commented on #2993
Well, I did a loot of things to try fix it at this week, but I think the key is add `transpileOnly:true` to the options of webpack.mix.js.

Here's my webpack.mix.js full config. Now it's working fine.
[code]

[2021-06-01 21:03] #2993 closed

[2021-06-01 21:31] ArsalaBangash commented on #566
Surprised to see no updates on this issue

[2021-06-02 00:17] danielbachhuber commented on #2928
Weird!

[2021-06-03 05:56] yefta-me commented on #2737
Suddenly got this issue. Anyone has idea about this matter except by adding `legacyNodePolyfills` option to `false`. I already did that, and not working.

[2021-06-03 06:28] wsy998 opened #2994 "Will you support Vite?"
Will you support Vite?

[2021-06-03 14:53] dranzd commented on #2719
Here's what works on mine and what I found out about the difference between hmrOptions
on mix.options and devServer on mix.webpackConfig.

My environment is:
Laravel v8.34.0
laravel-mix v6.0.6
npm: v7.7.6
node: v15.14.0

docker-compose.yml
[code]

webpack.mix.js
[code]

Accessing http://laravel.test:8085 would result in replacing
[code]

Looks like the devServer configuration is for configuring th

[2021-06-03 14:54] yettey74 commented on #2791
Yes using yarn worked for me as well .. it also advises to use yarn for all package development .. and i also had to do this bit to get it to work
Get-ExecutionPolicy -List
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope CurrentUser
Set-ExecutionPolicy -ExecutionPolicy RemoteSigned -Scope LocalMachine
I did the second as inconsistent permissions could still cause problems

It seems to be

[2021-06-03 15:02] JeffreyWay commented on #2994
Not sure how that would work. No plans.

[2021-06-03 15:02] #2994 closed

[2021-06-03 15:03] JeffreyWay commented on #2989
What's your webpack.mix.js file look like? Is that assertion error wrong?

[code]

[2021-06-03 15:32] JeffreyWay opened #2995 "TypeScript Feature Flag"
At the moment, we *do* support basic TypeScript compilation via `mix.ts('entry', 'output')`. but there doesn't seem to be an easy way to, for example, add TypeScript support to a Vue project. You'd need to manually drop down to the `mix.webpackConfig()` level.

I think we should make this simpler to activate. A couple options:

### Choice 1: Feature Flag

[code]

With this approach, we'd only need

[2021-06-03 20:04] thecrypticace commented on #2995
Typescript + vue is already supported with `mix.ts()`:
https://github.com/JeffreyWay/laravel-mix/blob/db0dc003551e65fa2354469f8103760a59612e71/src/components/TypeScript.js#L46

Though I'd like to move that line out of the typescript plugin but I'm not sure how b/c that's a typescript-loader option.

[2021-06-03 21:06] strarsis commented on #2914
Not stale.

[2021-06-03 21:06] strarsis commented on #2916
Note stlae.

[2021-06-04 08:58] rionjau commented on #2570
@camohub How did you solve it?

[2021-06-04 09:08] camohub commented on #2570
I dont remember but if my problem were two versions of node.js it should be installed globaly or update the user version to the latest one.

[2021-06-04 13:22] JeffreyWay commented on #2995
Ugh I totally forgot that we already allowed for this when we switched to Vue being a feature flag.

I'm going to update the docs with a couple examples to make this clearer.

[2021-06-04 13:22] #2995 closed

[2021-06-04 13:37] thecrypticace commented on #2995
It's been there since at least Mix v2. 😅 Some doc updates would be def. be good though!

[2021-06-04 13:57] JeffreyWay commented on #2995
`mix.vue()` wasn't a feature flag back in the v2 days. So I'm not sure how that would have worked.

[2021-06-04 14:31] thecrypticace commented on #2995
It was just "supported" given that we enabled Vue support all the time.

[2021-06-04 15:08] Jialufeng commented on #2471
it's good .

[2021-06-04 16:27] bram-pkg opened #2996 "Extend Laravel Mix object"
Hi, I am trying to extend the Laravel Mix object with custom types using a `d.ts` file. Do you have any idea why this would not offer autocompletion in VS Code and PhpStorm?

![image](https://user-images.githubusercontent.com/13304739/120833798-809a6100-c562-11eb-84a5-f38a83e95192.png)

[code]

[2021-06-05 01:25] ryanmortier commented on #2978
How do you specify a commit constraint in NPM?

[2021-06-05 17:13] florianbouvot commented on #2869
@JeffreyWay @thecrypticace is there a solution?

[2021-06-05 20:58] danieltorrer commented on #2966
hey @lighth7015 did you found a solution?

[2021-06-06 09:00] lighth7015 commented on #2966
Nope!

[2021-06-06 21:08] tanuj-singh-rathaur commented on #1402
@djarrin thanks for the solution

[2021-06-07 04:12] andrey-hohlov opened #2997 "SassError: @use rules must be written before any other rules"
-   Laravel Mix Version: 6.0.19
-   Node Version : v14.16.0
-   NPM Version: 6.14.11

-   OS: macOS 10.15.4

### Description:

Error ```SassError: @use rules must be written before any other rules``` happens because resources loader injects content to the top of each file.

Famous issue solved (or not yet) in different resource loaders, for example:
https://github.com/nuxt-community/style-resource

[2021-06-07 04:27] andrey-hohlov commented on #2997
Temp workaround:

[code]

[2021-06-07 07:56] dougclarke commented on #2978
`npm install https://github.com/JeffreyWay/laravel-mix\#b45f7a1a`
But... when I use that commit I get those 34 moderate audit warnings again just like when I ran npm upgrade.

`npm install https://github.com/JeffreyWay/laravel-mix\#master`
Worked like a champ for me on both fresh installs and other L8 projects that were nagging me about the same vulnerabilities.

[2021-06-07 12:12] proimage commented on #2025
Not stale, go away little bot. :p

[2021-06-07 12:21] light-source opened #2998 "How to disable additional code when minifying js"
-   Laravel Mix Version: 6.0.18
-   Node Version (`node -v`): 14.16.1
-   NPM Version (`npm -v`): 6.14.12
-   OS: Ubuntu 20.04

I use web components and compile each js file separately, but with default settings it adds a lot of additional functions, like _classCallCheck, _defineProperties, _createClass, _inherits and etc. I would like keep only removing spacing and replacing names to short during

[2021-06-07 14:57] plweil commented on #2738
fwiw, what @saas786 suggested above does work in v6.0.19:

[code]

[2021-06-08 08:21] gerardnll commented on #2953
Me too... In my case, this error is thrown if the target directory structure does not exist.

[2021-06-08 10:32] light-source commented on #2998
I've discovered that they were polyfills from Babel, and I've found a way to avoid them.
In webpack.mix.js
`// makes babel is dependent on package.json browserslist, so will skip additional polyfills
        laravelMix.babelConfig({
            "presets": [
                [
                    "@babel/preset-env",
                    {}
                ]
            ]
        });`
In package.json

[2021-06-08 10:32] #2998 closed

[2021-06-09 03:38] surgiie commented on #2958
@nouce Did you ever find a solution for this?

[2021-06-09 05:26] szepeviktor commented on #2862
Not stale, just sleeping 💤

[2021-06-09 07:03] ctf0 commented on #2709
sadly nothing new with the latest version `0.19`, issue still exist

[2021-06-09 07:48] keithbrink commented on #2905
This is not stale, just low priority.

[2021-06-09 08:18] amcsi commented on #2552
It's great that there's a weboldal escape hatch for this. But it would still be nice if Mix did this automatically.

[2021-06-09 10:24] nezaboravi opened #2999 "41 vulnerabilities (34 moderate, 7 high)"
-  Laravel Framework 8.46.0
-   Laravel Mix Version: npm list --depth=0

├── laravel-mix@6.0.19
├── lodash@4.17.21
└── postcss@8.3.0

-   Node Version (`node -v`): v15.10.0
-   NPM Version (`npm -v`): 7.6.0
-   OS: MacOSx Big Sur version 11.4, Apple silicon

### Description:
Just installed fresh Laravel, and run npm install
I am getting this error:
41 vulnerabilities (34 moderate, 7 high)

![image

[2021-06-09 11:10] FrancoisH commented on #2840
The issue seems to be here even in the latest release, probably linked to the notification service used here.

[2021-06-09 11:38] alperyazgan commented on #2684
It is still not working with the version "laravel-mix@6.0.19";
Current solution is to include the statement `window.$ = require('jquery');` in the app.js

PS. It can be seen on a basic  laravel test project  with jetstream +  livewire is selected.

In webpack.mix.js:
[code]
bootstrap.js is not modified, In app.js:

[code]

Laravel v8.46.0
Laravel Mix v6.0.19

Npm List:
├── @tailwindcss/aspect-rati

[2021-06-09 13:00] dransidu commented on #2999
Same here how to fix this?

[2021-06-09 20:42] stebogit opened #3000 "Unexpected output path"
-   Laravel Mix Version: v6.0.19
-   Node Version: v16.2.0
-   NPM Version: v7.13.0
-   OS: macOS BigSur (v11.1)

### Description:
I want to build two sets of JS files, one for the FE inside the (default) `/public` folder, the other for the BE inside a different folder, specifically `/resources/scripts`

### Steps To Reproduce:
This is my `webpack.mix.js`:
[code]

The `contouring.js` file always e

[2021-06-10 03:16] nicolasdanelon commented on #1072
Dude I love you. thanks!

[2021-06-10 07:21] robopzet opened #3001 "Dark colored command output is hard to read"
-   Laravel Mix Version: 6.0.19
-   Node Version (`node -v`): v14.16.1
-   NPM Version (`npm -v`): 6.14.12
-   OS: Windows 10 Home 20H2

### Description:
The output of the **mix** command is unreadable on the terminal because of the used colors, dark green and grey on black, as seen in this partial screenshot:
![screenshot-mix-terminal-colors](https://user-images.githubusercontent.com/78900761/121

[2021-06-10 07:35] bkupps23 opened #3002 "Critical cssnano vulnerabilities"
Laravel Mix Version: 6.0.19 (npm list --depth=0)
Node Version (node -v): v12.16.2
NPM Version (npm -v): 7.13.0

### Description: Recently i upgraded laravel mix to 6.0.19 and when i do a security check it is showing 2 high vulnerabilities.As vulnerable packages(packages related to cssnano package)are peer dependencies to laravel  mix i can not update them directly .
When i checked this https://git

[2021-06-10 07:59] caugner commented on #2619
**If you run into the same issue**, please see [my comment above](https://github.com/JeffreyWay/laravel-mix/issues/2619#issuecomment-772743791).

Given that there is a workaround a fix isn't trivial, I'mhereby closing this issue.

[2021-06-10 07:59] #2619 closed

[2021-06-10 07:59] sebszocinski opened #3003 "Watcher doesn't detect newly created files."
-   Laravel Mix Version: 6
-   Node Version 12
-   NPM Version 6
-   OS: Mac

Running `mix watch` and then creating a new file doesn't seem to detect and compile that file until I kill the watcher and start it again.

I'm using pugjs so i'm not sure if its related to the [laravel-mix-pug](https://github.com/matejsvajger/laravel-mix-pug) plugin?

[2021-06-10 10:06] Aamir-Khan-Maarofi commented on #2832
I was facing this issue and was able to fix it using `yar run dev` instead of `npm run dev`. Looks like there is no clear solution/fix to this issue on the open internet.

Also, this is not a fix, it's just a temporary workaround shortcut.

[2021-06-10 11:52] TeachHip commented on #2999
Same here

[2021-06-10 14:57] Propaganistas commented on #2812
I think the case remains valid.

[2021-06-10 15:29] kranthiboga23 commented on #3002
@thecrypticace Can we get any alternative on this??

[2021-06-10 17:25] thecrypticace commented on #3002
I've been incredibly busy — apologies. I've got one thing to take a look at before we can tag a new release to be sure there isn't a regression. I'll make a note to take a look at that this weekend.

[2021-06-10 19:02] PrinsFrank commented on #2978
For anyone still running into this: https://prinsfrank.nl/2021/06/10/Using-commit-constraints-in-npm

It boils down to this:
[code]

[2021-06-10 20:32] jasonloeve commented on #2999
Same, waiting on an update release.

<img width="579" alt="Screen Shot 2021-06-11 at 8 24 53 AM" src="https://user-images.githubusercontent.com/1393754/121592267-9215c880-ca8e-11eb-87a7-c231997109f9.png">

[2021-06-10 23:48] #2997 closed

[2021-06-11 02:20] #2592 closed

[2021-06-11 07:30] hivokas commented on #2773
It has been fixed in https://github.com/tailwindlabs/tailwindcss/pull/3356

[2021-06-11 07:30] #2773 closed

[2021-06-11 10:48] Krisell commented on #2928
The problem remains for us in `6.0.19`.

[2021-06-11 13:29] danielbachhuber commented on #2928
@thecrypticace You've reverted but it's not released yet?

Also, out of curiosity, what was the vue-style-loader change for in the first place?

[2021-06-11 13:32] thecrypticace commented on #2928
@danielbachhuber Right.

It allows Vue SFC styles in the shadow dom + some other stuff detailed in the readme: https://github.com/vuejs/vue-style-loader#readme

[2021-06-11 14:00] #2928 closed

[2021-06-11 14:01] thecrypticace commented on #2928
I've decided to make the vue-style-loader bit opt in so this shouldn't be a problem again.

[2021-06-11 14:10] olemarius commented on #2778
I have the same issue. Added storybook 6.2.9 to a Vite+ vue 3 typescript project - everything works fine but I get an error when using the @apply directive. Also upgraded postcss to postcss 8.

I've tried this approach https://blog.spell.codes/en/storybook-tailwind-scss/ but seems this only applyes to *.scss files.

So far I've been unable to find a way to add the loader appropriately. If someone

[2021-06-11 18:42] dducro commented on #2983
Not yet, I hope there is, I'm not using the images from `public/images` so it would be grate to be able to disable it.

[2021-06-11 19:37] Krisell commented on #2928
Running `npm update` did indeed resolve the issue, thanks! I don't know exactly what dependency required update, and I don't quite understand how this works. Shouldn't nested node_modules folders be created if different dependencies require different, incompatible, versions of sub-dependencies?

[2021-06-11 21:50] wersas1 commented on #2978
Still getting these vulnerabilities with "npm audit fix", "npm upgrade", "npm update" & "npm audit fix --force". Will try the commit constraint as soon as possible due to the fact that now around 7 of my projects are vulnerable and no easy fix seems to be found. Hope you can roll something out soon, thank you! :)

[2021-06-11 22:29] wersas1 commented on #2978
Unfortunately commit constraint with #master did not fix the issue completely, only halfway. There's still 4 moderate vulnerabilities and 6 of high severity present. No other commands like audit fix / audit fix --force or upgrade are working on these branches as well. Here's a small paste of my audit:

css-what  <5.0.1
Severity: high
Denial of Service - https://npmjs.com/advisories/1754
fix availa

[2021-06-12 14:41] akshayp660 opened #3008 "Invalid configuration object. Webpack has been initialised using a configuration object that does not match the api schema"
-   Laravel Mix Version: 6.0.19
-   Node Version: 13.14.0
-   NPM Version : 7.17.0
-   OS: windows 7 32bit

### Description:

[webpack-cli] Invalid configuration object. Webpack has been initialized using a configuration object that does not match the API schema.
 - configuration.optimization.splitChunks should be one of these:
   false | object { automaticNameDelimiter?, automaticNameMaxLength?,

[2021-06-12 20:57] pathaksa commented on #2304
this worked for me

[2021-06-12 21:44] thecrypticace commented on #3008
Laravel Mix is for Webpack v5. Your package.json is requiring webpack 4. Please update.

[2021-06-12 21:44] #3008 closed

[2021-06-13 02:47] thecrypticace commented on #2928
It does but incompatible is defined as non-matching version constraints.

[2021-06-13 13:03] fuckhtml commented on #726
Yeah, thank you!

[2021-06-13 16:24] Rakibul8001 commented on #2844
I have overcome this issue by SnoreToast notification On.

[2021-06-14 08:22] arwinvdv opened #3009 "Building crashes without error"
-   Laravel Mix Version: 6.0.19 (`npm list --depth=0`)
-   Node Version: 16.0.0
-   NPM Version: 7.17.0
-   OS: macOS Big Sur 11.4

### Description:
Around the 60% building the process crashes without an error:
<img width="898" alt="Schermafbeelding 2021-06-14 om 10 18 47" src="https://user-images.githubusercontent.com/7255485/121861216-ee305500-ccf9-11eb-919c-46873d1d85a8.png">

Note: the browser

[2021-06-14 12:21] thecrypticace commented on #3009
What's interesting is it looks like the process is exiting cleanly as if something is calling process.exit() during the build (based on your zsh prompt — in that theme, by default, the arrow would be red for exit codes != 0). 🤔

Try adding this to your mix config to see if it helps uncover anything:
[code]

[2021-06-14 14:12] jcharcosset commented on #2806
I have similar problem here : https://stackoverflow.com/questions/67968259/webpack-mix-and-vuetify-loader-root-stylesheet

What information can I give to help ?

Thank you

[2021-06-14 15:56] arwinvdv commented on #3009
@thecrypticace Thanks! I fixed the errors (some css resources that he didn't found and added vm and stream to resolve.fallback) and after that it worked!

[2021-06-14 15:56] #3009 closed

[2021-06-14 20:18] marczh commented on #2999
Same Problem here.

node -v = v16.3.0
npm -v = 7.17.0

tried this:
├── axios@0.21.1
├── laravel-mix@6.0.6
├── lodash@4.17.19
└── postcss@8.1.14

and tried this:
├── axios@0.21.1
├── laravel-mix@6.0.19
├── lodash@4.17.21
└── postcss@8.3.4

both not working

[2021-06-14 23:35] thecrypticace commented on #2999
So I updated some stuff in our `master` branch over the weekend however, even if we tag a release, it won't fix some vulnerabilities still present in dependencies.

1. One is present in css-what depended upon by svgo.
2. One is present in glob-parent due to `@types/browser-sync` pulling in an old version of chokidar.
3. One is because `resolve-url-loader` pulls in a vulnerable version of postcss (

[2021-06-15 02:29] ERROPiX commented on #2844
@Rakibul8001 can you share more details or steps to solve it?

[2021-06-15 12:41] sarukomine opened #3010 "Any ways to chunks vendor JS codes?"
-   Laravel Mix Version: 6.0.19
-   Node Version: v16.2.0
-   NPM Version: 7.13.0
-   OS: macos 11.4

### Description:

I installed too many vendor libraries, so I use `mix.extract()` for splitting these. but vendor.js is still big.
If I keep on adding new libraries, then vendor.js filesize will keep on increasing, I think it is not great soluction to me.

Of course, I can use `mix.extract(['vue',

[2021-06-15 17:55] JoshKisb commented on #814
laravel mix clean also worked well for me.
I used this to clean up source maps in production build

`
require('laravel-mix-clean');

if (!mix.inProduction()) {
    mix.webpackConfig({
        devtool: 'source-map'
    })
    .sourceMaps()
} else {
    mix.clean({
        cleanOnceBeforeBuildPatterns: [
            'js/*.map',
            'css/*.map',
        ]
    });
}`

[2021-06-16 10:47] range-of-motion commented on #3002
I'm still getting the vulnerability through `nom audit`. Does that mean that the recently tagged v6.0.20 did not intend to fix this?

[2021-06-16 11:59] abdulraoufalizada commented on #1352
Make sure that you are adding '/vendor' in your .gitignore and not 'vendor'. Adding just 'vendor' will ignore all folders named vendor in your code base.

[2021-06-16 15:26] MariellevDijk commented on #3002
The problem is coming from @types/browser-sync, that requires an old version of chokidar (2.1.8)

[2021-06-16 16:49] xApep opened #3011 "webpack.mix.js "No such file or directory""
-   Laravel Mix Version: #.#.# (`npm list --depth=0`): laravel-mix@6.0.20
-   Node Version (`node -v`): v15.6.0
-   NPM Version (`npm -v`): 7.4.0
-   OS:

### Description:
I'm install clean laravel-mix but when I want to do "cp" I get "No such file or directory".
![image](https://user-images.githubusercontent.com/1315340/122260149-36ef3600-ced3-11eb-8c93-4f66ef7f6a5e.png)

In nodes_modules/laravel

[2021-06-16 18:18] sertn commented on #2951
I'm dealing with this issue too. I still haven't been able to find a solution.

[2021-06-16 19:01] austriker27 opened #3012 "Mix 6.0.20 not setting correct file paths for fontsource 4.0+ fonts (locally installed/self hosted fonts)"
-   Laravel Mix Version: 6.0.20
-   Node Version: v15.2.0
-   NPM Version: 7.0.10
-   OS: macOS 10.14.6

### Description:

I've used fontsource.org in the past with prior version of Laravel Mix and they worked super well. (It's a great way to install and use local fonts in projects)

In the past you just need to install them via yarn/npm and then add them to your `.js` project file. However now wi

[2021-06-16 23:24] #2690 closed

[2021-06-16 23:24] #2789 closed

[2021-06-16 23:24] #2595 closed

[2021-06-16 23:24] #2800 closed

[2021-06-16 23:24] #2589 closed

[2021-06-16 23:24] #2779 closed

[2021-06-16 23:24] #2552 closed

[2021-06-16 23:24] #2816 closed

[2021-06-16 23:24] #2818 closed

[2021-06-16 23:24] #2755 closed

[2021-06-16 23:24] #2831 closed

[2021-06-16 23:24] #2825 closed

[2021-06-16 23:24] #2838 closed

[2021-06-16 23:24] #2707 closed

[2021-06-16 23:24] #2711 closed

[2021-06-16 23:24] #2649 closed

[2021-06-16 23:24] #2613 closed

[2021-06-16 23:24] #2848 closed

[2021-06-16 23:25] #1945 closed

[2021-06-16 23:25] #2850 closed

[2021-06-16 23:25] #2863 closed

[2021-06-16 23:25] #2870 closed

[2021-06-16 23:25] #2875 closed

[2021-06-16 23:25] #2878 closed

[2021-06-16 23:25] #2926 closed

[2021-06-17 02:01] MESHach12345 opened #3013 "How to convert https://github.com/JeffreyWay/laravel-mix/issues/1072#issuecomment-319401164 to Windows Commands?"
So I seem to be facing an issue metioned in that link however cmd is not recognizing some commands like rm. Can the cmds for windows pls be provided?

[2021-06-17 03:42] ZeemZach commented on #2791
Try this one
npm install laravel-mix@6.0.19
npm install webpack-cli@4.7.0

[2021-06-17 04:36] AMoktar commented on #2363
i'm havin the same issue as well

[2021-06-17 06:53] ycs77 commented on #2906
Not working in Homestead......

[2021-06-17 07:12] Eldair commented on #2552
This is not fixed.

[2021-06-17 07:49] skeemer commented on #3002
Here's a link to an issue regarding this: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/52678

[2021-06-17 08:23] NationwidePharma commented on #2978
This is still broken.

[2021-06-17 09:50] makifgokce opened #3014 "No matching version found for collect.js@^4.28.6."
-   Laravel Mix Version: #.#.# (`npm list --depth=0`)
-   Node Version (`node -v`): v14.17.1
-   NPM Version (`npm -v`): 6.14.13
-   OS: Windows 10

### Description:
[code]
### Steps To Reproduce:
`npm install`

[2021-06-17 11:45] Tofandel commented on #1914
Hmmm @JeffreyWay .extract() is still not working with mix v6...

[2021-06-17 12:10] marczh commented on #2999
With laravel-mix@6.0.20 on a fresh laravel install now I get less vulnerabilities.

10 vulnerabilities (4 moderate, 6 high)

[npm-audit-log.txt](https://github.com/JeffreyWay/laravel-mix/files/6670018/npm-audit-log.txt)

[2021-06-17 12:47] Tofandel commented on #2837
I have the same issue with async await, I'm targeting only browsers with ES7 support and yet async await is transpiled

This is my .babelrc

[code]

[2021-06-17 12:52] Tofandel commented on #2837
Logging the output from the BabelConfig file it is indeed the case

[code]

My options are not present

[2021-06-17 12:53] Tofandel commented on #2837
Logging the output from the BabelConfig file it is indeed the case

[code]

My options are not present

[2021-06-17 13:06] Tofandel commented on #2837
Okay so apparently only `babel.config.js` works, using a `.babelrc` file doesn't

[2021-06-17 14:29] JeffreyWay commented on #3011
Those are out-dated installation steps. Did you find those in the GitHub docs in this repo somewhere?

Instead work along with this: https://github.com/JeffreyWay/laravel-mix/blob/master/docs/installation.md

[2021-06-17 14:29] #3011 closed

[2021-06-17 14:35] JeffreyWay commented on #3013
Apologies, but repo-specific bugs and issues only.

Please use Google for things like this.

[2021-06-17 14:35] #3013 closed

[2021-06-17 14:42] xApep commented on #3011
@JeffreyWay thanks! I think you will need to update official docs, because I have found this in it.
https://laravel-mix.com/docs/5.0/installation

[2021-06-17 16:13] austriker27 commented on #3012
GOOD NEWS! After hours of troubleshooting i found the problem - sass/scss wasn't loading the font files in the JS correctly....

This works with PostCSS so I'm going to stick with that - hope this helps save someone else time!

[2021-06-17 16:13] #3012 closed

[2021-06-17 17:07] o15a3d4l11s2 commented on #1462
I have a somewhat similar issue - I am creating themes now and I want to use:
1. `setPublicPath`
2. `copyDirectory`
3. `version`

Example:
[code]

But it gives me an error `(node:126470) UnhandledPromiseRejectionWarning: Error: ENOENT: no such file or directory, open '/home/vagrant/code/website/public/themes/base/img/about_us.png'`.

What I tried currently:
1. Without `setPublicPath` it worked unt

[2021-06-17 18:00] orbitsdev commented on #2978
same  here

[2021-06-17 18:02] thecrypticace commented on #2978
The vulnerabilities are in dependencies that appear they're not going to release an update. We'll have to do something about that.

The short term solution for a handful of them is to remove `@types/browser-sync` and inline its types instead.

[2021-06-17 19:52] maxacarvalho commented on #2964
@thecrypticace I guess this is a problem again, see here [https://github.com/webpack/webpack-dev-server/blob/master/CHANGELOG.md#-breaking-changes](https://github.com/webpack/webpack-dev-server/blob/master/CHANGELOG.md#-breaking-changes)

Is it really necessary to use a beta version?

[2021-06-17 19:55] thecrypticace commented on #2964
@maxacarvalho Sadly, for proper webpack 5 support, it is.

@JeffreyWay I'd intentionally not bumped to beta 3 until I investigated the changes for it. Can we Revert that change or adjust the HMR setup to account for them?

[2021-06-17 19:56] maxacarvalho commented on #2964
@thecrypticace got you. Well, I think it's safe to switch from `dev` to `devMiddleware`.

[2021-06-17 20:05] JeffreyWay commented on #2964
I've temporarily brought it back to beta-2. But, I'd like to bump back up to resolve some audit issues when we can.

[2021-06-17 20:06] thecrypticace commented on #2964
Okay, thanks. I'll spend some time tonight on it so we can bump it.

[2021-06-17 21:06] greatwitenorth commented on #1618
@carestad sorry to bring up an old issue, but did you ever find a solution to this? It still seems to be a problem. Sourcemaps generate, but line numbers are all messed up in sentry.

[2021-06-17 21:43] thecrypticace commented on #2964
@maxacarvalho Can you test the master branch to see if the changes with beta 3 work for you?

[2021-06-17 21:47] maxacarvalho commented on #2964
Hi @thecrypticace yes, it works.

[2021-06-17 21:48] thecrypticace commented on #2964
🙌

[2021-06-18 02:13] orbitsdev commented on #2978
Sir can you be more specific where can you found this @types/browser-sync and what do you mean by inlines its types instead

[2021-06-18 04:39] thecrypticace commented on #2978
`@types/browser-sync` is a package that provides typescript typings for BrowserSync. We use these typings in Laravel Mix's own typings files to provide API autocompletion and type checking for mix config files. The `@types/browser-sync` package comes in to play when autocompleting and type checking usages of `mix.browserSync()`

I've gone ahead and removed our dependency on `@types/browser-sync` a

[2021-06-18 06:42] wlin20 commented on #2376
@jtymanjr Thank you very much!
我这里补充一个中文的说明。
遇到这个问题的朋友，可以在报错行那里打个断点，报错行就是：
[code]
浏览器在modules[moduleId].call(module.exports, module, module.exports, __webpack_require__); 这行打个断点。

然后编辑断点，在进入断点前增加输出
[code]
重新运行程序或刷新页面，然后看控制台最后一个输出的 moduleId,就是无法加载的包。

把无法加载的包或文件，在app.js中导入 。

比如我最后一个输出了 路径：
[code]

就在app.js中添加了这行
[code]

然后就行了.

[2021-06-18 07:42] carestad commented on #1618
From the looks of our `webpack.mix.js` we still use `devtool: 'source-map'` though, but the line number issue is not an issue anymore as far as I am aware of.

[2021-06-18 08:38] karlomikus opened #3017 "Per-file autoprefixer options"
-   Laravel Mix Version: 6.0.19
-   Node Version: v14.15.3
-   Yarn Version: 1.22.4
-   OS: Linux env

### Description:
Is it possible to define autoprefixer options for a specific file I want to compile.

Specifically I want to define 2 browserlist environments: "production" and "pdf"

[code]

And then define [autoprefixer env](https://github.com/postcss/autoprefixer#options) for a specific file

[2021-06-18 10:38] kirkbushell commented on #2131
Have you tested on mobile? I had to move away from ids/cache busted laravel mix feature as often on mobile it would not actually fetch the new version.

[2021-06-18 10:46] gtempesta commented on #2131
Yes it worked also on mobile. Now we have completely removed Laravel Mix from the project but at the time there were no issue on mobile.

[2021-06-18 10:54] kirkbushell commented on #2131
Hmmm, I've tested this out locally and find that once production files are built, dev no longer works. Did you have this also?

[2021-06-18 10:56] kirkbushell commented on #2131
Or maybe a better question is, how are you separating out production/local builds?

[2021-06-18 10:58] gtempesta commented on #2131
No. But we had very customized settings: three settings for development (css, js and js for legacy browsers) and three settings for production. Now we have a very different setup so I can't help much.

[2021-06-18 11:00] kirkbushell commented on #2131
No worries, thanks @gtempesta !

[2021-06-18 19:57] extendsLcc commented on #3003
Probably not related to the plugin, as I have the same problem with the js files.

With only this code in `webpack.mix.js`
`mix.js( 'resources/js/*.js', 'public/js/bundle.js' );`

The Watcher doesn't detect any new js file in `resources/js/` folder util restart.

[2021-06-18 20:29] Rj-Aman commented on #1983
Can you please tell me any solution for this if you found any??

[2021-06-18 20:32] Rj-Aman commented on #1983
unable to get you. Can you please explain? Really need help. Thanks in advance

[2021-06-18 21:08] Rj-Aman commented on #2558
Thanks man for the help. I spent more than 6 hr then used your method. It worked from me. Thanks a lot.

[2021-06-18 21:29] Rj-Aman commented on #2558
In Laravel 8

Add .vue() at last in webpack.mix.js like       ` .js('resources/js/app.js', 'public/js').vue()`
Run  `npm i laravel-mix@next`
Run `npm install vue` for installing vue
Now you can run `npm install && npm run dev`

[2021-06-19 00:21] ToothlessRebel commented on #2961
I'm seeing the same thing in Mix 6.0.22, Node 16.3.0, and npm 7.18.1.

The compiled Sass/Less files are being generated but it appears to be **after** the CSS is concatenated.

`mix.styles()` will not throw an error if one of the provided files does not exist, so this completes "successfully".

I am chaining the methods `mix.less().sass().styles()` and tried calling them each separately but it not

[2021-06-20 00:42] AbrahamBrookes commented on #2870
I _think_ the trick is to include the `--progress` flag when you run the watch command, but I upgraded my mix again and now the progress bar is back.

[2021-06-20 01:40] robsonsobral opened #3019 "Dots on paths break filenames"
-   Laravel Mix Version: (`npm list --depth=0`)
    - browser-sync-webpack-plugin@2.3.0
    - browser-sync@2.26.14
    - cross-env@7.0.3
    - laravel-mix@6.0.20
    - resolve-url-loader@4.0.0
    - sass-loader@12.1.0
    - sass@1.35.1
    - sassdoc-theme-herman@4.0.2
    - sassdoc@2.7.3
    - stylelint-config-recess-order@2.4.0
    - webpack-cli@4.7.2
    - webpack@5.39.0
-   Node Version (`node

[2021-06-20 02:24] DarkGhostHunter opened #3020 "Error in PostCSS Loader requires full restart"
-   Laravel Mix Version: @master
-   Node Version (`node -v`): v14.16.0
-   NPM Version (`npm -v`): v6.14.11
-   OS: Windows 10 21H1

### Description:

Using `mix watch`, before Tailwind 2.2, any error parsing CSS `@apply` directive can be recovered by updating the offending CSS code.

[code]

The above will spawn an error:

[code]

Now, the error will still spawn, but further updates won't rebuil

[2021-06-20 13:38] #2579 closed

[2021-06-20 13:38] #2641 closed

[2021-06-20 13:38] #2932 closed

[2021-06-20 13:38] #2785 closed

[2021-06-20 13:38] #2934 closed

[2021-06-20 13:38] #2931 closed

[2021-06-20 13:38] #2627 closed

[2021-06-20 13:38] #2858 closed

[2021-06-20 13:39] #2865 closed

[2021-06-20 13:39] #2876 closed

[2021-06-20 13:39] #2879 closed

[2021-06-20 13:39] #2853 closed

[2021-06-20 13:39] #2893 closed

[2021-06-20 13:39] #2682 closed

[2021-06-20 13:39] #2901 closed

[2021-06-20 13:39] #2898 closed

[2021-06-20 13:39] #2882 closed

[2021-06-20 13:39] #2845 closed

[2021-06-20 13:39] #2915 closed

[2021-06-20 13:39] #2834 closed

[2021-06-20 13:39] #2913 closed

[2021-06-20 13:39] #2742 closed

[2021-06-20 13:39] #2912 closed

[2021-06-20 13:39] #2814 closed

[2021-06-20 17:44] u01jmg3 commented on #2925
Still an issue...

[2021-06-20 19:03] squatto commented on #622
A HUGE thank you to @BenjaminBrandtner for sharing how to make this work!!

I'm using Mix version 6 and it wouldn't work, however. According to [the webpack docs](https://webpack.js.org/configuration/dev-server/#devserverhttps), the `devServer` format is _slightly_ different than in [@BenjaminBrandtner's comment](https://github.com/JeffreyWay/laravel-mix/issues/622#issuecomment-685600704). It shou

[2021-06-20 20:58] JeffreyWay commented on #3020
Okay, so I just updated my own codebase to the Mix 6.0.24 and Tailwind 2.2. I can't reproduce what you're seeing. If I add an error to the `@apply` call, it doesn't kill the watcher. As soon as I fix the error, it re-compiles immediately.

[2021-06-20 21:25] DarkGhostHunter commented on #3020
I figured it out. It happens but inside an @import'ed file.

If the entrypoint is `app.css`, it will be fixed.

[code]

But inside an import, it doesn't work, and it doesn't compile again on file change.

[code]

Mystically, BrowserSync picks ups the changes.

[2021-06-21 00:39] robsonsobral commented on #3019
Instead of trust blindly an online tutorial, check the [official docs](https://laravel-mix.com/docs/6.0/cli). Sometimes, article already born outdated.

[2021-06-21 00:39] #3019 closed

[2021-06-21 01:48] sebszocinski commented on #3003
yeah that sucks, I swear it never used to do this a while back when I was on v4.

[2021-06-21 02:57] johnneijzen commented on #2999
so far my side only 7 high vulnerabilities from css-what so it is getting better

![image](https://user-images.githubusercontent.com/1343960/122701303-7f19aa00-d27f-11eb-81a9-33378eeaf569.png)

[2021-06-21 13:40] jsandfordhughes opened #3021 "webpack-dev-server - 4.0.0-beta.3 breaks secure WSS websocket connections with HMR"
-   Laravel Mix Version: 6.0.23
-   Node Version 16.3.0:
-   NPM Version 7.15.1:
-   OS: MAC OS

### Description:
It seems like the upgrade to "webpack-dev-server": "4.0.0-beta.3" has broken something with the websocket connection of the devServer. If your dev server is running in HTTPS mode the websocket connection no longer uses WSS and SSL which browsers block.

### Steps To Reproduce:
It looks

[2021-06-21 13:50] JeffreyWay commented on #3011
We don't maintain that website. The official docs are here on GitHub in this repo.

Plus, that links to docs for Mix 5.0. You're using Mix 6.

[2021-06-21 14:03] thecrypticace commented on #3021
`cert` is called `cacert` now — we should add a fallback though to handle this.

[2021-06-21 14:09] jsandfordhughes commented on #3021
When changing this to `cacert` I get a `private_key:key` mismatch

`[webpack-cli] Error: error:0B080074:x509 certificate routines:X509_check_private_key:key values mismatch
`

[2021-06-22 14:49] ArondeParon opened #3022 "npm run hot not working and not finding existing react-refresh package"
-   Laravel Mix Version: 6.0.18
-   Node Version: 12.20.0
-   NPM Version: 7.5.4
-   OS: MacOS 11.4

### Description:

My project: Laravel + TypeScript + React.
When I run `npm run hot` I get the following error:

[code]

Some observations:

- The debug log does not seem to provide anything helpful.
[code]
- The suggested packages are not installed.
- I can install these packages by hand, but Mix

[2021-06-22 19:57] cwaidelich commented on #2719
Hello,

for everybody still having problems with the solution above (for a reason it didn't work for me). In my case I am using inertia.js, which seems to cause problems when **not** running the `sail npm run watch-poll` command. Either _hot_, nor _watch_ were picking the changes done in the .vue files.

For me watch-poll and browserSync did the trick for 100% hot reload experience, by calling `lo

[2021-06-23 06:10] LufoX11 commented on #1193
I've adde a comment here 3 years ago and now, with the latest version of this package, the error is still present?? wow... :-1:

[2021-06-23 10:38] johnneijzen commented on #2999
https://github.com/svg/svgo/pull/1485 i guess this only update left that we are waiting

[2021-06-23 15:31] uchqur commented on #3014
[code]

## Same error

[2021-06-23 15:51] sukh-gill commented on #2775
was there a solution to this?

[2021-06-23 15:53] thecrypticace commented on #3014
If you're seeing this error it's likely that your npm cache is broken. Please try `npm cache clean --force`.

[2021-06-23 15:55] uchqur commented on #3014
[code]

[2021-06-23 17:06] nekooee commented on #2865
same

[2021-06-23 20:05] makifgokce commented on #3014
This error happens when I create a new project.
`npm i collect.js@^4.28.6. ` I get the same error when I run the command, it might be version related.

[2021-06-24 02:35] thecrypticace commented on #3014
I think the npm tag was unpublished. It worked when the CI ran for the latest release 4 days ago. Yarn reports the latest version as 4.28.5, NPM reports it as 4.28.6 on the project page but 4.28.5 on the listing page.

<img width="378" alt="Screen Shot 2021-06-23 at 22 33 52" src="https://user-images.githubusercontent.com/614993/123193642-26126780-d473-11eb-8f48-6d475bbfb0fc.png">
<img width="416"

[2021-06-24 02:45] #3014 closed

[2021-06-24 04:39] DarkGhostHunter commented on #3020
Do you require more details on this? Having to restart Laravel Mix for every typo substracts time from active development.

[2021-06-24 09:02] ndberg commented on #1193
The solution from @patrickcarlohickman did work great, until I upgraded to laravel mix 6.

Error:
`Error: Cannot find module '../File'`

Could anybody get this to work with laravel mix 6?

Thanks

[2021-06-24 13:02] thecrypticace commented on #3020
I'm planning to look into this but I won't have time until mid-to-late next week.

[2021-06-24 13:04] thecrypticace commented on #1193
File is no longer defined as a global in Mix. You have to import it explicitly. I would however advise against that and use node's fs package instead. `File` is now an internal implementation detail and can/will change in the future.

[2021-06-24 13:06] JeffreyWay commented on #3020
I still haven't been able to reproduce this on my end. Even when the code is within an import, errors are properly handled without the watcher failing.

I'm curious what's causing this.

[2021-06-24 16:18] Anticom opened #3024 "SCSS not properly rendering sass variables in css variable declarations."
-   Laravel Mix Version: 6.0.25 (`npm list --depth=0`)
-   Node Version (`node -v`): v14.17.1
-   NPM Version (`npm -v`): 7.18.1
-   OS: Ubuntu 16.04.7 LTS

### Description:
It seems that when compiling scss using `mix.sass('in.scss', 'out')` that sass variables don't get expanded when placed in [css variables](https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties).

### Ste

[2021-06-24 16:37] Anticom commented on #3024
Okay so this seems to be a limitation sass has. It can be circumvented by wrapping the variable name in `#{}`:

[code]

produces the desired output.

[2021-06-24 16:37] #3024 closed

[2021-06-24 17:35] DarkGhostHunter commented on #3020
I'm on Windows, and running the script through yarn via PHPStorm.

[2021-06-25 08:13] nkoporec opened #3025 "[webpack-cli] TypeError: VueLoaderPlugin is not a constructor"
### Description:
When I try to run laravel mix (npx mix) I receive the following error:
`[webpack-cli] TypeError: VueLoaderPlugin is not a constructor
`

My webpack file:
[code]

I'm using Laravel mix v6.0.25, node v16.4.0 and npm 7.18.1.

Any ideas how to fix the issue ?

[2021-06-25 08:30] o15a3d4l11s2 commented on #2412
I have the same problem. `copyDirectory` works, `version` works for the files that are in the main directory I am copying, but the files in the subdirectories are not listed in `mix-manifest.json` and therefore not versioned. Is there any solution to this?

[2021-06-25 16:51] kojoYeboah53i commented on #2717
this is very helpful. I had a similar issue and I too solved it by first stoping the npm run watch and then adding .vue() to
 mix.js('resources/js/app.js', 'public/js').vue() inside webpack.mix.js. It solved the problem. You have to do `npm run watch` after adding that line

[2021-06-25 16:51] f-laino commented on #566
workaround:

[code]

[2021-06-26 02:57] #2823 closed

[2021-06-26 02:57] #2777 closed

[2021-06-26 02:57] #2923 closed

[2021-06-26 06:46] vipertecpro commented on #2978
What happened there ?????
[code]

[2021-06-27 20:57] johnneijzen commented on #2999
This issue should be fixed now svgo release update two days ago

![image](https://user-images.githubusercontent.com/1343960/123559231-5ccae380-d7cd-11eb-95f0-4a598191f379.png)

[2021-06-28 03:12] thecrypticace commented on #2999
Confirmed. I'll note that I _had_ to run an `npm upgrade` even from a clean install without a lock file. yarn didn't have this problem. idk why npm is being like that but something to note.

Aa this has been addressed I'm closing the issue.

[2021-06-28 03:12] #2999 closed

[2021-06-28 11:23] FlavioSB commented on #2756
`<img :src="require(`@assets/img/test/test.png`).default" alt="sideimg">`
Was the only thing which worked for me. Without the @assets (custom alias in my project) it would not get copied to the public folder and without the `.default` it would show `[object Module]` in the html and not render at all.

But I dont feel like this is a definitive solution, it shouldnt be necessary to add `.default` OR

[2021-06-28 15:56] jamesratcliffe commented on #2978
svgo has been updated to address this. I have `0 vulnerabilities found` today after running `yarn upgrade`.

[2021-06-28 16:05] samanthamichele7 commented on #3021
I ran into the same issue (including the `cacert` error message), but adding `https: true` to my `hmrOptions` fixed it for me:

[code]

I still have `cert` in my `devServer.https` config.

[2021-06-28 16:29] brandonb927 commented on #2947
Go away bot.

[2021-07-01 04:43] cerw commented on #622
@squatto that laodes ok but update gets download from wrong URL ? (wrong port really)

![image](https://user-images.githubusercontent.com/16146/124065624-bbac8900-da69-11eb-9b73-32a03ae651a4.png)

Request URL: https://$host/_js_manifest.55434799535810f1351a.hot-update.json

Ta

[2021-07-01 13:17] squatto commented on #622
@cerw That's odd 🤔 Is it not using the port from `hmrOptions`?

[2021-07-01 23:55] cerw commented on #622
Yes it uses first time you load it from the socket server but does not work when it pushes the upload?

[2021-07-02 05:08] rouben commented on #474
@attilaantal thanks for the tip man! Really helped. By the way, you can enhance your setup by using whatever app URL you have defined in .env by adding code like this:

[code]

[2021-07-02 07:15] Froxz commented on #2643
Hi @thecrypticace

With latest release I see you have added, option to choose between `vue-style-loader` and `style-loader` [v6.0.25](https://github.com/JeffreyWay/laravel-mix/blob/v6.0.25/src/components/CssWebpackConfig.js#L189)

But, by default shadow mode in `vue-style-loader` is disabled, can we add a posibility to pass options to `vue-style-loader`

[code]

[2021-07-02 15:20] c17r commented on #2889
Just tried this with:
Laravel Mix Version: 6.0.25
Node Version: 14.17.1
NPM Version: 7.19.1

And it's still the same result: the app.css location doesn't match what mix-manifest.json says.

[2021-07-02 15:55] AhmadOf commented on #2879
I have same issue here, any one knows how to fix it? @GemaDynamic @timmaier @thecrypticace

thank you

[2021-07-03 01:10] mikesaintsg commented on #2974
If you're just running the html file in the browser, then not all the files in the dist folder will be served, only those in the script and link tags will be picked up on. For local development, you should spin up an expressjs server to serve all the files, even just statically.

For example, I would put a file called `server.js` in the root folder with the following:
[code]

Then update my `packa

[2021-07-03 01:15] mikesaintsg commented on #2966
Are you declaring the "@/" alias anywhere? What does your webpack.mix.js file look like?

[2021-07-03 01:31] mikesaintsg commented on #2961
Have you given the mix.after event hook a shot?
https://laravel-mix.com/docs/6.0/event-hooks
Let me know what you get. If it doesn't, I'll see if i can figure out a quick fix for you.

[2021-07-03 01:46] mikesaintsg commented on #2982
What does your webpack.mix.js file look like?

In respect to the setPublicPath method, the best I can say is not to set the public path, especially if you're setting to the public folder. I've always had issues with it too.

In respect to the minify method, I'll need to see the webpack.mix.js file or a more detailed explanation to understand what you're trying to do. Note that if you're already pa

[2021-07-03 01:53] mikesaintsg commented on #2989
Did you update your scripts?
I noticed the development command included cross-env which is used in laravel-mix 5 scripts but have been changed to:
[code]

[2021-07-03 04:43] lighth7015 commented on #2966
It's a webpack alias, and my `webpack.mix.js` looks like this,
[code]

[2021-07-03 12:38] exeptionerror commented on #2766
[[Solved] Module parse failed: Unexpected token (763:13) in VueJs
](https://exerror.com/module-parse-failed-unexpected-token-76313-in-vuejs/)

[2021-07-03 13:26] NikoManiac commented on #1271
Thx! This is help me!

[2021-07-03 13:28] garbinmarcelo commented on #2961
I tried using before and then, but without success. I am currently using this package: https://github.com/kabbouchi/laravel-mix-merge-manifest#readme

What I did was split into 2 files, one for less and sass and the other just to combine the result of this first process. I solved the problem in a palliative way, but I'm still waiting for something better to solve it.

[2021-07-03 16:28] mikesaintsg commented on #2966
Now it makes sense, your "@" alias is pointing to the "/resources/**js**" folder.

If you're pointing to a sass file, it's probably in your "resources/**sass**" folder.

This alias has applied the path of "resources/**js**/styles.css" instead of "resources/**sass**/styles.css".

You can create a separate alias like:
[code]
or so that you don't forget, you can also do:

[code]

Give it a shot and l

[2021-07-03 18:36] lighth7015 commented on #2966
I have scss in some of my `@/component` directories (e.g. `@/components/header/Header.scss`), which is what I'm trying to use.

For example,

[code]

[2021-07-03 20:10] mikesaintsg commented on #2961
Thanks! Yeah, that seems like a good work around. I took a deeper look at mix and it only provides a single instance for a build, so a separate file is the only way to separate builds. Then there's also webpack that isn't built to run sequentially. Those are two big strikes, I don't see sequential builds coming to either packages any times soon.

In these rare cases, I would say gulp would be a be

[2021-07-03 20:18] mikesaintsg commented on #2966
What's the absolute path of this components folder?

[2021-07-03 20:48] garbinmarcelo commented on #2961
A while ago I used gulp, I still have it in a legacy project, really it works. But I decided to set Laravel Mix as the default tool for assets, otherwise everything works fine.

Maybe this issue is a possible new feature :smile:

I think it's not just me who has this problem or is it? :flushed:

[2021-07-03 22:09] lighth7015 commented on #2966
`/home/robert_/web/care-platform/resources/js/components` -- lol, it's a bit of a mouthful.

[2021-07-03 22:10] lighth7015 commented on #2966
Also, vscode seems to not like jsx that much, as I have to litter my TSX components with `@ts-ignore`  :/

[2021-07-04 19:28] dnsnx opened #3026 "TypeError: Cannot read property 'jsonData' of undefined"
-   Laravel Mix Version: 6.0.25 (`npm list --depth=0`)
-   Webpack Version: 5.42.0
-   Node Version (`node -v`): v14.17.0
-   NPM Version (`npm -v`):  6.14.13
-   OS: Windows 10 20H2 (Build 19042.1052)

### Description:
I'm not sure, if it is an issue of laravel-mix or webpack. This error came up, when I updated to the latest version of laravel-mix / webpack. When running `npm run watch` command (

[2021-07-05 03:07] mikesaintsg commented on #2966
I think you're still confusing when to use the alias, my suggestions would be the following:

* maintain a separation of concerns, `.js` files in your `resources/js` folder and `.scss` files in your `resources/sass` folder.
* mirror the directory structure of each so they're easier to find, so the sass folder should have the `Headers.scss` and it's path should be: `resources/sass/components/header

[2021-07-05 06:05] #3026 closed

[2021-07-05 19:40] ntqtuan opened #3027 "[webpack-cli] Error: spawn Unknown system error -86"
I build a project laravel + vuejs in macos.
I follow the steps:

laravel new blog
cd blog
composer require laravel/ui
php artisan ui vue
npm install && npm run dev
and then asked for the following
[code]

I run : npm install vue-loader@^15.9.7 --save-dev --legacy-peer-deps
finally i run the following command 'npm run dev' .
always get below error:
[code]

[2021-07-06 04:08] yudyananda opened #3028 "Minify but ignore css comment on build"
How to minify but ignore css comment?

try the following `cssNano` options but it still removed comment

[code]

-   Laravel Mix 6.0.25
-   Node  14.16.1
-   NPM 7.17.0
-   OS Windows 10

[2021-07-06 07:56] sugambaskota commented on #2228
This error pops up occasionally when i run npm run watch.
It goes away after i clear my browser cache. :)

[2021-07-07 07:25] EquineOntology opened #3029 "Sourcemaps are active, but no output?"
-   Laravel Mix Version (`npm list --depth=0`): 6.0.25
-   Node Version (`node -v`): 14.17.1
-   NPM Version (`npm -v`): 6.14.13
-   OS: macOS Big Sur (11.4)

### Description:
Hi folks!

I'm not a habitual user of mix so this might be a misunderstanding on my part, please bear with me.
I'm migrating a legacy SPA (PHP + JS, JS previously minified & concatenated with gulp) to Laravel, and I'm curren

[2021-07-07 08:13] yaroslawww opened #3030 "Mix6 Vue3 error: Component is missing template or render function."
-   Laravel Mix Version: laravel-mix@6.0.25 (`npm list --depth=0`)
-   Node Version (`node -v`): v14.17.0
-   NPM Version (`npm -v`): 6.14.13
-   Yarn Version (`yarn -v`): 1.22.5
-   OS: Linux Mint

### Description:
After compilation browser console return error:
[code]
### Steps To Reproduce:
resources/front_v2/package.json
[code]
resources/front_v2/configs/webpack.research.mix.js
[code]
resource

[2021-07-07 15:44] davidshingie commented on #3027
I am facing exactly the same issue.

[2021-07-07 15:59] davidshingie commented on #3027
Just figured out that it was an issue with [terminal-notifier](https://github.com/julienXX/terminal-notifier).

This [solution](https://github.com/mikaelbr/node-notifier/issues/361#issuecomment-873839550) worked for me.

[2021-07-08 14:13] Giacomo92 opened #3031 "Unable to locate Mix file durin build process with mix.version()"
-   Laravel Mix Version: #.#.# (`npm list --depth=0`): 5.0.9
-   Node Version (`node -v`): v12.22.0
-   NPM Version (`npm -v`): 6.14.11
-   OS: Linux

### Description:
I have added `.version()` feature to my project. Now if I visit my application during the build process I get this error:

 Unable to locate Mix file

The file in question is my js and css file. How can I solve this?

Thanks

### St

[2021-07-09 08:20] daugaard47 commented on #3020
I'm having a very similar issue:
[https://github.com/tailwindlabs/tailwindcss/issues/4712#issuecomment-877004319](https://github.com/tailwindlabs/tailwindcss/issues/4712#issuecomment-877004319)

[2021-07-09 09:37] FabianKaufmann commented on #2737
@volnistii11 to the `webpack.mix.js` file in the root above the `mix.js()` call.

[2021-07-09 13:01] #2956 closed

[2021-07-09 13:01] #2880 closed

[2021-07-09 13:01] #2957 closed

[2021-07-09 13:01] #2740 closed

[2021-07-09 13:01] #2746 closed

[2021-07-09 13:01] #2945 closed

[2021-07-09 13:01] #2881 closed

[2021-07-09 13:01] #2950 closed

[2021-07-09 13:01] #2949 closed

[2021-07-10 08:45] panjitito commented on #1026
I put my project in subfolder, and this solution work best for me.

[2021-07-10 15:34] jwohlfert23 commented on #2574
I'm having the same issue as @risingphoenix. It's detecting the changes, but not bundling those changes into the outputted file.

[2021-07-10 16:49] ntqtuan commented on #3027
@davidshingie thank pro, i fixed

[2021-07-11 05:57] viraljetani commented on #2550
I was having the same issue while using a seperate node container in my docker environment and when removing '--no-bin-links' in my dockerfile config 'entrypoint: ['npm', '--no-bin-links']'

Thank you @thecrypticace

[2021-07-11 12:14] devbapidey opened #3032 "How to know mix version hash inside webpack.mix.js file?"
-   Laravel Mix Version: 6.0.6 (`npm list --depth=0`)
-   Node Version (`node -v`):16.4.2
-   NPM Version (`npm -v`):7.17.0
-   OS:Arch

### Description: First off all this is not a bug. But a help request.
I was using google workbox to generate service worker. Check this code:-
`mix.generateSW(
  {
    dditionalManifestEntries: [{
      {
                url: mix('css/app.css'),
                r

[2021-07-11 13:32] thecrypticace commented on #3032
So based on your use case I'm not sure there's an easy or even workable solution. The service worker plugin writes the manifest during the  `processAssets` hook of a webpack compilation. While the mix manifest doesn't get populated until the `emit` hook in the compiler itself which I believe is after the compilation is completely finished. Additionally, the versioning itself doesn't happen until

[2021-07-12 07:33] FlavioSB opened #3033 "IMPORTANT July 2021: Chrome private network access restriction with hot module reloading"
-   Laravel Mix Version: 6.0.24
-   Node Version: 14.16.0
-   NPM Version: 6.14.11
-   OS: Windows 10 Pro

### Description:
Using HMR spits out a deprecation warning from Google Chrome ([Google page](https://chromestatus.com/feature/5436853517811712) | [Google developer blog](https://developer.chrome.com/blog/private-network-access-update/) ), which sounds like it will ultimately break the functio

[2021-07-12 09:46] #2514 closed

[2021-07-12 13:55] justkidding96 commented on #2684
@thecrypticace See code below.

[code]

This give me an error in the console `$(...).slick is not a function` But jQuery works fine.

[2021-07-12 14:01] asolopovas opened #3034 "Url of Websocket points to insecure version ws instead of wss"
-   Laravel Mix Version: 6.0.25
-   Node Version (`node -v`):14.17.3
-   NPM Version (`npm -v`):6.14.13
-   OS: Windows 10

### Description:
Hi,  for some reason even though ssl is setup correctly Webpack Dev server is trying to connect to WebSocket which is insecure rather than secure one, does anyone know why? Here is my `webpack.mix.js`.
[code]

[2021-07-12 14:24] asolopovas commented on #3034
This seems to fix the problem, but I think if I use ssl it should be set to https://localhost:8080 rather than http://localhost:8080
mix.override(config => {
    config.devServer.public = 'https://localhost:8080'
    return config
});

[2021-07-12 20:03] therealgilles commented on #2971
Update: Tailwind now comes with a tailwind/nesting plugin that can be used in place of postcss-nested or postcss-nesting.

[2021-07-12 20:03] #2971 closed

[2021-07-13 02:02] #2959 closed

[2021-07-13 02:02] #2587 closed

[2021-07-13 02:02] #2836 closed

[2021-07-13 02:02] #2963 closed

[2021-07-13 02:02] #2430 closed

[2021-07-13 02:02] #2968 closed

[2021-07-13 09:26] toszcze commented on #3029
Same issue here, the only difference is that I'm on macOS Catalina (10.15.7).

**webpack.mix.js**
[code]

[2021-07-13 16:23] yahyasghayron commented on #2832
I was facing this issue and was able to fix it by reinstalling node.js or run the node setup and choose repair, it seems that it's a problem related to npm itself

[2021-07-13 17:11] scs-ben commented on #2832
The only solution I had was to use PowerShell on Windows instead of Git Bash. Thankfully, it was on a secondary computer I use when I'm in my office. My main computer works fine on Windows with Git Bash.

[2021-07-13 22:54] juslintek commented on #3034
These are related: https://github.com/JeffreyWay/laravel-mix/issues/3021

[2021-07-13 23:14] juslintek commented on #3021
Seems like https://github.com/JeffreyWay/laravel-mix/blob/master/types/config.d.ts#L31 and https://github.com/JeffreyWay/laravel-mix/blob/9971ef3eb3dc64d8379715d71c72b481b7f5788b/src/config.js are not aligned.

But for me this does not work.

[2021-07-13 23:28] juslintek opened #3035 "Mix hmr returns localhost ssl instead of custom domain certificate"
-   Laravel Mix Version: 6.0.25
-   Node Version (`node -v`): v15.14.0
-   NPM Version (`npm -v`): 7.7.6
-   OS: Ubuntu 20.04.2 LTS

### Description:
After upgrading to laravel mix 6.0.25 injectHot no longer working and as well custom SSL certificate does not work anymore, I always get from any browser NET::ERR_CERT_AUTHORITY_INVALID error:
<img width="1141" alt="Screenshot 2021-07-14 at 02 18 20"

[2021-07-14 09:22] risingphoenix commented on #2574
@jwohlfert23 i am currently using this configuration
[code]
every changes are detected but not inserted in the compiled watched js,
even with the command specified by @JeffreyWay nothing changes
[code]
very frustrating run every time `npm run dev`

[2021-07-14 09:36] rohan0793 commented on #1758
Happening to me too

`npm run dev` does a good job but uncompressed JS
`npm run prod` removes code, don't know why

Please help?

[2021-07-14 19:24] rasmuscnielsen commented on #1288
So I just found that my issue with BrowserSync not picking up changes wasn't related to the mix configuration at all.

Rather, after debugging waaay longer than I'd like to admit, I found that having the project folder located inside a Google Drive synced folder was causing the issue 😄

Hope this might help someone else!

[2021-07-14 20:22] rasmuscnielsen commented on #2409
Just a note aside for someone else that might find this issue with no clue what the issue might be:

I found that having the project folder located inside a Google Drive synced folder was causing my BrowserSync not to pick up on file changes (Mac). As soon as I moved the project folder it worked as a charm.

Hope this might help someone else!

[2021-07-15 08:01] AleksandrMihasenko commented on #1914
Hello!
I have a project where a website is built by gulp and admin panel of this site is built by laravel mix. I need to delete gulp and rewrite using webpack too.
Can I use separeted config files for this (one config file for adminpanel, other for website)? There are solutions about separeting css and js files. Does it happen in my case?

[2021-07-15 20:13] jacobgraf opened #3036 "Laravel Mix breaks with css-loader 6.x"
After running `npm update` this morning, I got a bunch of errors when trying to build. After researching things, it appears that when I ran `npm update`, something updated webpack's css-loader package from 5.x to 6.x which has a lot of breaking changes.

I'm not sure if Laravel Mix allowed `npm update` to update css-loader, or something else, but I'm wondering if anyone has a hotfix in the meantim

[2021-07-15 20:15] thecrypticace commented on #3036
We include CSS loader 5.x: https://github.com/JeffreyWay/laravel-mix/blob/420d5d642e3c9a8752d396e75283fe27f0c41e28/package.json#L67

Are you possibly overriding anything in your package.json?

[2021-07-15 20:29] jacobgraf commented on #3036
This is what I've got...

[code]

[2021-07-15 20:39] thecrypticace commented on #3036
🤔 that's super odd. I'll poke around some tonight to see if I can reproduce the problem

[2021-07-15 20:41] jacobgraf commented on #3036
The only thing I can think of is if any other package is set to pull in css-loader 6.x but I am not sure how to even look into that. I suppose I can look at the package.json for each of the dependencies listed and see if any of them are set to 6.x? ¯\_(ツ)_/¯

[2021-07-15 20:44] jacobgraf commented on #3036
Not sure if this is it, but I found this in vue-loader/package.json

![CleanShot 2021-07-15 at 15 43 37@2x](https://user-images.githubusercontent.com/146333/125854958-dd55d0a1-4957-49ae-baef-200657372d0d.jpg)

[2021-07-15 20:46] thecrypticace commented on #3036
Nah, that shouldn't be an issue. In the mean time you can explicitly add `"css-loader": "^5.2"` to your projects package.json file and that should _hopefully_ resolve it.

[2021-07-15 20:55] jacobgraf commented on #3036
I added it to package.json and that gets me up and running, but man, I wanna know WHAT is allowing the update to 6.x to happen. I went through ALL the packages in package.json and none of them say v6. Any that do have css-loader are set to 5.x like Laravel Mix is.

[2021-07-15 20:58] thecrypticace commented on #3036
Yeah I'd love to know too because NPM definitely shouldn't allow that to happen

[2021-07-15 21:39] PDXfoster commented on #3036
Not sure what happened here, but I've been banging my head against the wall on this all morning. Finally ate lunch and came back with a clear head - found that cssloader had updated to 6.0.0 ~19 hours ago with a bunch of breaking changes.

running
`npm install --save-dev css-loader@5.2.7`
seems to do the trick for now, and builds are successful.

[2021-07-15 21:41] thecrypticace commented on #3036
I just did a fresh install and I don't see this behavior but obviously it's happening for several people.

Can you both please provide information on node/yarn versions, OS, etc…?

[2021-07-15 21:54] PDXfoster commented on #3036
Running locally on: mac os 10.15.7 | Node 16.1.0 | npm 7.11.2
Broke in my prod pipeline on Ubuntu 20.04.2 as well.

Just checked the laravel-mix package.json myself and see the dependency locked to ^5.2.6 --> super weird that npm would allow for this problem.

`
  "devDependencies": {
    "@babel/plugin-syntax-dynamic-import": "^7.8.3",
    "cross-env": "^5.2.1",
    "css-loader": "~5.2.7",
    "c

[2021-07-15 21:55] jacobgraf commented on #3036
macOS Big Sur 11.4
Node 16.5.0
npm 7.19.1
Mix 6.0.16

[2021-07-16 04:47] esausaravia commented on #3027
Thanks! @davidshingie

[2021-07-16 09:40] Laygendev commented on #2969
Hi

Same here with :

`
mix.webpackConfig({stats:'none'})
`

Laravel mix version: 6.0.25

[2021-07-16 10:02] zoomyboy opened #3037 "Building for production kills custom CSS vars"
-   Laravel Mix Version: 6.0.13 (`npm list --depth=0`)
-   Node Version (`node -v`): 15.22.0
-   NPM Version (`npm -v`): 7.7.6
-   OS: Arch Linux

### Description:

When a postCSS output file is minified for production, it will strip custom CSS vars which will break some styling.

webpack.mix.js:
[code]

CSS file:
[code]

### Steps To Reproduce:

Output without ``--production``
[code]

Output with

[2021-07-16 10:33] mukesh17mj commented on #823
Same issue : **UglifyJs Unexpected token: name (i) [./~/jspdf/dist/jspdf.es.min.js**

**.babelrc** is as

`{

`"presets": [`
`["es2015",`
`{`
`"modules": false`
`}`
`]`
`],`
`"plugins": [`
`[`
`"transform-es2015-arrow-functions",`
`{`
`"spec": true`
`}`
    `],`
    `"transform-es2015-template-literals",`
    `"transform-object-rest-spread"`
  `]`
`}`

and

**webpack.mix.js** is as:

`const { mix,

[2021-07-16 11:18] tatsuki-happys opened #3038 "How to run mix.sourceMaps() on development (and watch)?"
-   Laravel Mix Version: laravel-mix@6.0.25
-   Node Version : v14.17.3
-   NPM Version : 7.20.0
-   OS: MacOS Catalina

### Description:

I want to source maps on development.
bad, following code does not generate source maps on running `npm run development` and `npm run watch`.
How to run mix.sourceMaps() on development (and watch)?

### Steps To Reproduce:

my code
[code]

[code]

`npm run prod

[2021-07-16 13:30] mityukov commented on #2958
Same issue here… All of a sudden

[2021-07-16 13:44] mityukov commented on #2958
Here's what I did:
[code]

Add this to webpack.mix.conf:
[code]

Still getting errors (just different ones now)…

![image](https://user-images.githubusercontent.com/1751910/125957614-d4426960-6445-4de7-a6bf-5159e3dcdddb.png)

[2021-07-16 13:46] ahtinurme commented on #3036
Had the same issue, locking the version to 5.2.7 fixed the issue.

macOS Big Sur 11.4
Node 16.4.0
npm 7.18.1
Mix 6.0.25

[2021-07-16 16:25] plweil commented on #3036
Thank you!! You guys saved my hide! I had no idea why my npm compilations suddenly were going haywire today. All kinds of module build errors on all of my Vue components and sass/css compilations, e.g.,

`Module build failed (from ./node_modules/css-loader/dist/cjs.js):
ValidationError: Invalid options object. CSS Loader has been initialized using an options object that does not match the API sche

[2021-07-16 16:41] sebastiansulinski commented on #3036
Same issue here - using `css-loader@^5.2.7` seem to have worked.

[2021-07-16 16:45] artfulrobot opened #3039 "Crash when vue() invoked."
-   Laravel Mix Version: 6.0.25
-   Node Version (`node -v`):v14.17.3
-   NPM Version (`npm -v`): 7.20.0
-   OS: Ubuntu 20.04

### Description:

As soon as `.vue()` is in my `webpack.mix.js` file it crashes.

### Steps To Reproduce:

[code]
Gives

[code]

I tried `npm -i vue-loader --save-dev` but `npx mix` then complains:

[code]

[2021-07-16 16:54] williamcolbert commented on #3039
I just ran into this same error when running `php artisan breeze:install vue`
Following

[2021-07-16 19:34] mikemand commented on #3039
I have the same problem. Just stopped working this morning after running `yarn update`. It was working fine last night. I thought maybe Webpack had a breaking change in their new version (it upgraded from 5.44 -> 5.45 this morning), so I tried playing with different Webpack versions. I got very strange errors (for example, it can't find css-loader and babel-loader, even though they are installed,

[2021-07-16 19:35] taylormaguire commented on #3039
I'm having the same problem on an existing project and also on a brand new install of Laravel with jetstream.

Laravel Mix Version: 6.0.25
Node Version (node -v):v14.17.3
NPM Version (npm -v): 7.12.0
OS: Mac OS 11.4 Big Sur

Steps to reproduct

[code]
choose inertia and after install and build it fails and gives Error: Cannot find module 'webpack/lib/rules/DescriptionDataMatcherRulePlugin'

[2021-07-16 19:36] williamcolbert commented on #3039
A temporary fix is to add `"webpack": "5.44.0"` to your package.json

Looks like webpack made a breaking change in 5.45.0, by renaming the file.

[2021-07-16 19:37] thecrypticace commented on #3039
Yep, this is a vue-loader problem due to a change with the latest webpack release: https://github.com/vuejs/vue-loader/issues/1854

Pin your version of webpack until the problem is resolved

[2021-07-16 23:56] noogen commented on #2905
Just found nicolailebek recommendation also fix **__VUE_PROD_DEVTOOLS__** error in production.

[2021-07-17 00:25] noogen commented on #3039
Seem to have been fixed in webpack 5.45.1

[2021-07-17 00:36] noogen commented on #3030
This maybe related/of help: https://stackoverflow.com/questions/64409157/vue-js-component-is-missing-template-or-render-function

If not, would you have example repo somewhere to show the issue?

[2021-07-17 00:50] noogen commented on #2977
I've had a lot of trouble in the last couple of days too.  Finally got everything to work: https://github.com/niiknow/vue-wp-plugin-starter

Track down to 3 packages that's have trouble unless I lock it at specific version below:
[code]

[2021-07-17 10:41] skfahad commented on #1222
@michael-harley

Its Live reloading not hot reloading

[2021-07-17 17:27] mikemand commented on #3039
I can confirm it is fixed (for now - until they break it again 😆).

[2021-07-17 18:12] mahesh1234 commented on #2550
I face this issue on i installed webpack on project.
running below resolved my issue.
`npm install laravel-mix@latest`

[2021-07-18 09:40] vojtys commented on #2990
No one enjoys running tests with laravel mix and mochapack?

[2021-07-18 16:54] Davisjuney commented on #2832
This actually worked for me, thanks for sharing. @scs-ben It would be interesting to understand why it builds in Powershell but not Git Bash.

[2021-07-18 20:52] BARNZ opened #3040 "Unable to set specific webpack devserver options"
-   Laravel Mix Version: laravel-mix@6.0.25
-   Node Version (`node -v`): 12.16.1
-   NPM Version (`npm -v`): 6.13.4
-   OS: Windows 10

### Description:

Wanting to configure the following webpack devserver `clientLogLevel` and `stats` options as documented here:
https://webpack.js.org/configuration/dev-server/#devserverclientloglevel

I would have thought it should just be a matter of adding thi

[2021-07-19 07:51] gihanrangana opened #3041 "how to load global sass file to access variables from react modules?"
i want to access sass variables from my react scss modules file without global file to it.how can i do it?

[2021-07-19 08:52] MehdiKhoshnevisz opened #3042 "How to minify the whole content of the specific directory?"
-   Laravel Mix Version: 6.0.25
-   Node Version: 14.17.1
-   NPM Version: 6.14.13
-   OS: Windows 10

### Description:
I want to minify the whole content of the specific directory like my **css directory**:
.
├── css
│   ├── pages
│    └── home.css
│   ├── main.css

Is that possible something like `mix.minify('css/*')`?

[2021-07-19 11:06] OliverGrimsley commented on #3036
Had same issue - I updated NPM and got several of these errors:
`
ERROR in .[file] (./node_modules/css-loader/dist/cjs.js??clonedRuleSet-12[0].rules[0].use[1]!./node_modules/vue-loader/lib/loaders/stylePostLoader.js!./node_modules/postcss-loader/dist/cjs.js??clonedRuleSet-12[0].rules[0].use[2]!./node_modules/sass-loader/dist/cjs.js??clonedRuleSet-12[0].rules[0].use[3]!./node_modules/vue-loader/lib

[2021-07-19 11:11] #3039 closed

[2021-07-19 19:53] Andrelirasp opened #3043 "Laravel mix error in lines scss coments"
-   Laravel Mix Version: 6.0.25
-   Node Version 16.3.0
-   NPM Version 7.20.0
-   OS: Windows 11 Home

I'm trying use laravel-mix a no Laravel project.

Running the "npx mix" return a error in lines comments on .css files.

![image](https://user-images.githubusercontent.com/38727271/126218717-2c0ada68-914b-4708-baf8-ac9d3ff3ecba.png)

[code]

[2021-07-20 06:06] nckrtl commented on #3021
@samanthamichele7 solution works for me. I'm not using a custom self signed certificate:

[code]

[2021-07-20 07:31] jsandfordhughes commented on #3021
@samanthamichele7 solution works for me to! Thanks all!
We can upgrade to the latest version now

[2021-07-20 11:16] iDoes123 commented on #2902
I had the same problem and tried absolutely everything. Eventually I found that the issue was with how I imported the Vue routes.

[code]
I forgot to use a capital letter....

`component: () => import("../views/pages/test.vue")`

Should be:

`component: () => import("../views/pages/Test.vue")`

Apparantly when I run 'npm run watch' laravel mix is fine with importing my Test.vue eventhough I wrote

[2021-07-20 12:34] maximal commented on #3036
Have this issue too. Using:

[code]

[2021-07-20 13:27] JeffreyWay commented on #3043
What's your webpack.mix.js file look like?

[2021-07-20 13:29] JeffreyWay commented on #3042
I don't think so, but you can use Node to scan any directory to get an array of file names within it. Then you can pass that array to `mix.minify()`.

[2021-07-20 13:29] #3042 closed

[2021-07-20 16:26] JeffreyWay commented on #3038
Source maps already work in development. I use them all the time.

I just tried again to be extra sure. All works as expected out of the box. You don't need to use `mix.webpackConfig()` to set the devtool. That's what `mix.sourceMaps()` does.

If you can give me reproducible steps in a fresh app, I can take another look.

[2021-07-20 16:26] #3038 closed

[2021-07-20 17:37] Andrelirasp commented on #3043
``
// webpack.mix.js

let mix = require('laravel-mix');

mix.js('src/js/app.js', 'js')
   .sass('src/css/app.scss', 'css')
   .setPublicPath('dist');

[2021-07-20 21:24] 0xARK opened #3044 "Error with options.url"
-   Laravel Mix Version : 6.0.25
-   Node Version : 14.15.4
-   NPM Version : 7.5.2
-   OS : Ubuntu 18.03

### Description:

Hello ! Today I updated my libraries with `npm update` and since this update I have this error :

[code]

And my `webpack.mix.js` file :

[code]

I've tried to find a solution for the moment, but I can't. I just know that when I comment out the "sass" function in my "webpack

[2021-07-20 21:48] 0xARK commented on #3044
For those with the same error, it seems that the problem comes from sass-loader and css-loader and not from laravel-mix. Here is the temporary solution and the explanation :

https://github.com/webpack-contrib/css-loader/issues/1347#issuecomment-883715208

[2021-07-20 21:48] #3044 closed

[2021-07-21 01:19] #2970 closed

[2021-07-21 01:19] #2656 closed

[2021-07-21 01:19] #2807 closed

[2021-07-21 08:04] dima2306 commented on #2819
Does anybody know if the issue with globalStyles is resolved?

[2021-07-21 10:20] antsweb01 commented on #1870
Getting the same issue on my project. How can I fix this
![Screenshot (28)](https://user-images.githubusercontent.com/74067587/126473545-17a3cc75-c910-415a-be31-79513f2bb9ad.png)

[2021-07-21 15:42] Brouilles commented on #3043
Same problem without sass but with Tailwindcss.

[code]

And webpack.mix.js
[code]

[2021-07-21 16:26] jaxwilko opened #3045 "Browser process shim when targeting node"
-   Laravel Mix Version: 6.0.25
-   Node Version: v15.10.0
-   NPM Version: 7.5.3
-   OS: Ubuntu 20.04 (5.8.0-59-generic)

### Description:

When targeting a "node" build, `process` is replaced with the browser shim.

### Steps To Reproduce:

#### app.js:
[code]

#### webpack.mix.js:
[code]

When run `dist/app.js` will output:

![image](https://user-images.githubusercontent.com/31214002/126523719-

[2021-07-21 16:58] EquineOntology commented on #3029
I haven't been able to find a solution to the issue, so for the time being I've downgraded to mix 5 which (happily for me 😄)  is creating a sourcemap without any changes to `webpack.mix.js`

[2021-07-21 19:29] toszcze commented on #3029
@EquineOntology I found a workaround. I just moved `sourceMaps()`, so now my file looks like this:
[code]

[2021-07-22 00:10] sudeerax commented on #2550
useful to review the Update to Mix 6 docs for any additional steps.
https://laravel-mix.com/docs/6.0/upgrade

[2021-07-22 02:15] noogen commented on #3043
Not sure about the author issue, but @Brouilles might be a css-loader version issue.   ref #3036

[2021-07-22 05:18] EquineOntology commented on #3029
Thank you for the suggestion! I just tested it (on mix 6 of course) and it doesn't change anything for me :(

As a note in case this issue gets reviewed by the team, every time I run these I am checking whether a map file is generated (and the sourcemap comment added) as well as whether a sourcemap was inlined within the output files

[2021-07-22 06:03] Brouilles commented on #3043
Yes I confirm. It is a css-loader issue. If I set to version 5.x, it is working again!

[2021-07-22 16:38] jamesRUS52 opened #3046 "keep original timestaps with copy"
mix.copyDirectory('resources/plugins', 'public/plugins');

is it possible to keep original timestamp while copy?

The original files changes very rarely but deploy process (via rsync) copy it to production server every time, because they have changed their update timestamp after mix.copy command

[2021-07-22 18:59] thecrypticace commented on #3046
I think this is a wont fix. Some tools don't preserve timestamp metadata. I would consider such metadata to be volatile and could change regardless of whether or not the content of the file has changed. I'd say this is a very limited use case. If you're using `rsync` I recommend using the `--checksum` flag. This will copy files that have changed in size or content but not based on timestamp.

[2021-07-22 18:59] #3046 closed

[2021-07-22 20:37] gihanrangana commented on #3041
hey can anyone help me?

[2021-07-23 09:47] nomanabdullah-dev commented on #2766
thank you so much.

thank you so much, this works for me after reinstalling npm

[2021-07-24 05:20] ankurk91 commented on #3043
This is happening due to npm v7.x, which auto installs peer dependency listed in `vue-loader/package.json`

* Laravel mix require css-loader v5
* vue-loader install css-loader v6 through peer-dependency

Larave mix should load webpack loaders like this
[code]

This will for node to resolve the package which was installed along with the package itself.

See how other packages is doing this
https://

[2021-07-24 12:26] thecrypticace commented on #3043
gah this is really aggravating that we have to do this but it makes sense. I'll see if I can go through and update things tonight and get a release out soon

[2021-07-24 22:46] #3043 closed

[2021-07-25 07:54] TatyanaMolchanova commented on #2603
Problem is in .browserslist
Add to webpack.config.js

target: process.env.NODE_ENV === "development" ? "web" : "browserslist",

[2021-07-25 22:19] williamdes opened #3048 "Missing documentation for removed `--no-progress` and `--inline` options"
-   Laravel Mix Version: latest

### Description:

[code]
[code]

### Steps To Reproduce:

Project: https://github.com/srexi/purecounterjs
Upgrade to latest, remove `--hide-modules` as advised, get errors on `--no-progress` and `--inline` options that do not exist **but sill are part of the upgrade guide examples**

They where probably removed but this is not documented :)

[2021-07-26 12:49] yaroslawww commented on #3030
@noogen
Now the code works with a fresh installation but still does not work as I showed on first comment. So I close issue.

[2021-07-26 12:49] #3030 closed

[2021-07-26 15:08] jcordingley opened #3049 "Building assets in watch mode does not re-build the file after initial change"
-   Laravel Mix Version: 6.0.25
-   Node Version (`node -v`): 14.7.3
-   NPM Version (`npm -v`):7.19.1
-   OS: Windows 10

### Description:
When running `npx mix watch` or `npx mix watch -- --watch-options-poll=1000` laravel-mix builds the assets for the first change but after a subsequent changes it says it has built the assets but the file does not change.

### Steps To Reproduce:

webpack.mix.j

[2021-07-26 16:45] jacobgraf commented on #3036
Now getting this...

`[webpack-cli] Error: Cannot find module 'sass-loader'`

and

`[webpack-cli] Error: Cannot find module 'stylus-loader'`

Manually installing both fixes things, but eeks.

[2021-07-26 16:48] thecrypticace commented on #3036
That shouldn't happen unless you call `.sass()` or `.stylus()`. Alright I'll take another look later today. @JeffreyWay Are you seeing this too? I think I missed something here.

[2021-07-26 16:50] thecrypticace commented on #3036
Yep, I did. We always include sass/less/etc rules even if you don't have the loader installed. We need to check for them now before we can include the rule. Sorry for all the trouble.

[2021-07-26 16:51] maximal commented on #3036
@thecrypticace, @JeffreyWay, any thoughts about when the fix is going to be available in future releases?

[2021-07-26 16:58] thecrypticace commented on #3036
I opened a PR. I still need to test it myself on a few different minimal projects but I can't at the moment.

[2021-07-26 18:00] JeffreyWay commented on #3048
Those are webpack specific options that were removed as part of webpack 5.

This was included in the Mix 6 upgrade guide.

https://github.com/JeffreyWay/laravel-mix/blob/master/UPGRADE.md

[2021-07-26 18:00] #3048 closed

[2021-07-26 18:14] JeffreyWay commented on #3036
@maximal @jacobgraf Can you guys bump to 6.0.27 and let us know if you're still seeing issues?

[2021-07-26 18:20] jacobgraf commented on #3036
@JeffreyWay fixed for me!

[2021-07-26 18:24] justinhartman opened #3051 "Upgrade 6.0.25 to 6.0.26 returns cannot find module 'less-loader'"
-   Laravel Mix Version: `6.0.26` (`npm list --depth=0`)
[code]
-   Node Version (`node -v`): `v12.14.1`
-   NPM Version (`npm -v`): `7.19.1`
-   OS: `macOS 10.15.7`

### Description:

I had version `6.0.25` installed and ran an `npm upgrade` and trying to do a `npm run dev` (or any run for that matter) returns the following error:

[code]

So I then did added the package it was complaining about

[2021-07-26 18:40] williamdes commented on #3048
Oh okay, my bad it was the before example: https://github.com/JeffreyWay/laravel-mix/blob/master/UPGRADE.md#before

I was searching for a textual phrase to explain it

Thanks

[2021-07-26 19:13] vodnicearv opened #3052 "Catch file not found"
-   Laravel Mix Version: 6.0.10
-   Node Version: 14.15.4
-   NPM Version: 6.14.11
-   OS: Windows

### Description:
when file is not found, need to show an error, but debug of this is missing

### Steps To Reproduce:
in webpack.mix.js write:
`mix.styles(['resources/css/undefined-file.css'], 'public/css/test.css');`

[2021-07-26 19:14] Cadeniuc commented on #3052
I have the same error...

[2021-07-26 19:14] thecrypticace commented on #3051
We fixed this in 6.0.27. Can you bump your version of Mix please?

[2021-07-26 19:58] justinhartman commented on #3051
@thecrypticace I can confirm 6.0.27 resolves the issue. Sorry, I didn't see you had released .27 as mine was only reflecting .26 as the current version else I wouldn't have opened the issue. Many thanks!

[2021-07-26 19:58] #3051 closed

[2021-07-26 20:13] JeffreyWay commented on #3036
@jacobgraf. Awesome. Thanks @thecrypticace.

[2021-07-26 20:13] #3036 closed

[2021-07-27 12:51] henriquecm commented on #3040
I have same problem, even if a separated webpack.config.js file

[2021-07-27 13:52] maximal commented on #3036
@JeffreyWay, sorry for the delay. Can confirm that build passes fine after the upgrade to v6.0.27.

[2021-07-28 13:33] emyasnikov commented on #2131
In my case the `[chunkhash]` value also differs from the one in `mix-manifest.json` file, but it seems the correct id is only needed to generate link using `mix()` function in blade templates.

[2021-07-28 14:16] schonhoff opened #3053 "After update from 6.0.25 to 6.0.27 rule not used anymore"
-   Laravel Mix Version: 6.0.25/6.0.27
-   Node Version (`node -v`): 14.17.3
-   NPM Version (`npm -v`): 6.14.14
-   OS: Windows 10

### Description:
After I updated my Laravel-mix to the new version my browser showed me this warning:
failed to decode downloaded font

No font was loaded correctly and I changed nothing else. With version 6.0.25 it worked. I have a special rule for my fonts:

[code]

[2021-07-28 21:51] Shadowalker125 opened #3054 "npm install and npm run dev fail in laravel homestead"
-   Laravel Mix Version: #.#.# (`npm list --depth=0`)
This fails to run
-   Node Version (`node -v`):
v14.15.4
-   NPM Version (`npm -v`):
- 6.14.11
-   OS:
Ubuntu (laravel 8 homstead)

### Description:
I tried updating my tailwindcss base in app.css and theme in tailwind.config.js and tried to run

`npm run dev`

and failed with
[code]

So, I tried running

[code]

and fails with

[code]

Im at a

[2021-07-28 22:39] thecrypticace commented on #3053
We recently had to change how we specify loader names/paths to account for the peer dependency behavior in NPM v7 otherwise a different major version could get loaded that should not when installing other dependencies.

I'll try to look into customizing the merging behavior for loaders to account for this change but it likely won't been until this weekend at the earliest (We'd happily accept a PR

[2021-07-29 06:20] MSSecrets commented on #3054
I am having the same issue too but I'm using vagrant.

vagrant box: bento/ubuntu-20.10
laravel framework: 8.52
nodejs: 14.17.3
npm: 6.14.13

[2021-07-29 18:08] merianos opened #3055 "Webpack modules not loading on my production/staging server while on my local working perfectly"
-   Laravel Mix Version: 5.0.9 (`npm list --depth=0`)
-   Node Version (`node -v`):
-   NPM Version (`npm -v`):
-   OS:

### Description:

Hi,

I am quite new to webpack modules _(I am not sure if I call them modules correctly but I will explain later what I mean)_ and I am faced with a very weird issue.

Let me first explain what I have so far.

Currently I have a `webpack.mix.js` file with the f

[2021-07-29 18:43] uluhonolulu commented on #2649
Dear @stale, please don't close it!

I have the same error with webpack 5.47.1

In my case, `item` is of type `CachedSource` and doesn't have a `node` function.

[2021-07-29 18:50] uluhonolulu commented on #2649
Rolling back to 5.24.2 fixed the issue

[2021-07-29 22:15] Miguel-Frazao opened #3056 "Vuejs scoped styles not being applied"
-   Laravel Mix Version: 6.0.25 (`npm list --depth=0`)
-   Node Version (`node -v`): v16.3.0
-   NPM Version (`npm -v`): 7.15.1
-   OS: Ubuntu 20.04
-   Laravel: 5.8

### Description:
I'm trying to get scoped styles to work, they're not working with `npm run hot` or `npm run production`.
Although they work on my general **resources/assets/css/app.css**.

### Steps To Reproduce:
I'm using Laravel 5

[2021-07-30 07:23] FlavioSB commented on #3033
I feel like this is a VERY important matter. If this really starts blocking these requests a lot of people can't keep developing their apps with HMR (which is a really neat and popular feature). Switching to `watch` does work but isnt a solution at all.

[2021-07-30 09:32] AnwarElbo commented on #2963
I have the same error
`Loading chunk 411 failed.
(missing: [domain]/js/views/Dashboard.bundle.js)`

[2021-08-01 02:20] thecrypticace commented on #3033
Sorry, I've been incredibly busy. I investigated this already back in May and you can see my response here: https://github.com/JeffreyWay/laravel-mix/issues/2987#issuecomment-847100684 Basically this is not something mix should be doing but is on webpack-dev-server to change if it hasn't already done so.

[2021-08-02 06:19] FlavioSB commented on #3033
No problem & thank you for answering.

That the problem needs to be fixed on webpack-dev-servers side makes sense. Mistake on my end, I just felt it was a very important matter, not only to myself but a lot of other people.

[2021-08-02 07:40] FlavioSB commented on #3033
I made an issue post on their GitHub page and referenced this one.

So this issue is on hold until they fixed it, so laravel-mix can update the package.

[2021-08-02 08:45] tomosterlund commented on #3055
Exact same error observed in our production app, first using v. 6.0.25. We then downgraded to 6.0.19 to see if the error had something to do with the updated Webpack-dependency, but this did not help.

[2021-08-02 09:13] konstantin-tw commented on #2649
We also see the same issue in 5.47.0 and 5.47.1
Removing `devtools` doesn't help.
Any ideas what the root cause can be? Thx!

[2021-08-02 14:07] FlavioSB commented on #3033
webpack/webpack-dev-server#3585

Apparently it's not on their part either, I have to proxy all requests to the same network to prevent this issue. A lot of work for nothing though...

[2021-08-02 14:10] thecrypticace commented on #3033
Yeah proxying isn't a solution. It _is_ on them technically to add the headers to override this but I'll see if there's something we can do. I'm just not sure how much if anything.

It almost certainly won't be this week though but I'll keep this in my head and maybe try something over the weekend.

[2021-08-02 14:27] FlavioSB commented on #3033
I'm afraid you're better off discussing this with them yourselves, I can't be the messenger for something I don't fully understand yet. I feel you both understand this matter better than I do.
Thank you for looking into it!

[2021-08-02 14:29] thecrypticace commented on #3033
Oh yeah totally understand. I don't expect you too at all. Honestly it's complicated for me to understand too but I think I've got somewhat of a grasp on what we may be able to do to workaround the issues — hopefully.

[2021-08-02 15:23] te1 commented on #3040
I have the same problem with `clientLogLevel` and `overlay`. The code below used to work fine with Mix 5.0.4 but now after upgrading to Mix 6.0.27 I get the same error as above (using npm, not yarn).

[code]

- Laravel Mix Version: laravel-mix@6.0.27
- Node Version (`node -v`): 14.16.1
- NPM Version (`npm -v`): 6.14.12
- OS: Windows 10

[2021-08-02 20:28] HartleySan opened #3057 "Can't compile a standalone version of Vue 3 in Laravel 8."
-   Laravel Mix Version: 6.0.27
-   Node Version: 14.15.4
-   NPM Version: 6.14.10
-   OS: Windows 10 (with Git for Windows command-line tool)
-   Laravel Framework Version: 8.52.0

### Description:

Attempting to install a standalone version of Vue 3 in Laravel 8 and compile a basic app with Laravel Mix does not work.

### Steps To Reproduce:

Create a new Laravel project with `laravel new projec

[2021-08-03 01:22] rehantoday commented on #2558
The issue is the outdated Laravel-mix package. As suggested by @Rj-Aman , run `npm i laravel-mix@next` to update it.

[2021-08-03 12:37] HartleySan commented on #3057
I came across a working answer in the following Stack Overflow post: https://stackoverflow.com/questions/63967346/install-vue-3-0-in-laravel

Basically, in the steps above, I had to replace `npm i vue@next` with the following command:

`npm i -D laravel-mix@next vue@next @vue/compiler-sfc vue-loader@next`

Doing so made everything work.

[2021-08-03 12:38] #3057 closed

[2021-08-03 14:16] vortechron commented on #2778
after a thousand google searches, finally, I got the answer from here:

tq @nivv

[code]

[2021-08-03 21:25] ERROPiX commented on #2933
@tbruckmaier I solved this issue by providing an object for the `hmrOptions.https` mix option:

[code]

No need to use the FS methods, I just put a raw string for the relative path to the certificate files.

[2021-08-03 21:25] #2933 closed

[2021-08-04 03:20] ArjunKishore commented on #2678
I am still having this issue with Laravel mix version 6.0.27

Will appreciate it if anyone could point me in the right direction to resolve this.

[2021-08-04 07:22] ArjunKishore opened #3058 "ModuleBuildError: Can't resolve relative url for fonts and images in scss"
-   Laravel Mix Version: laravel-mix@6.0.27
-   Node Version: v16.4.1
-   NPM Version :7.18.1
-   OS:Ubuntu 20.04.2 LTS (within Sail)

### Description:

When I run mix, it is not resolving the relative URL for images and fonts we have in theme.scss file

package.json

[code]

[code]

### Steps To Reproduce:

My code

webpack.mix.js

[code]

npm run dev

[2021-08-04 10:54] RomkaLTU commented on #3057
For me it was webpack minor update, changing version from 5.48.0 to 5.47.0 resolved the problem.

[2021-08-04 12:00] thecrypticace commented on #3058
It's looking for `./img` and `./fonts` inside the ./sass folder. Imports are relative to the source file location (see the error: Can't resolve … in **'/var/www/html/resources/assets/sass'**).

You need to back up a level by using `../`

[2021-08-04 12:00] #3058 closed

[2021-08-04 12:56] unrealbato commented on #3056
did resolve this point, i have same issue ?

[2021-08-04 18:17] plweil commented on #3036
@JeffreyWay same here. Build passes after bumping to v.6.0.27. Thank you!

[2021-08-04 20:07] Tofandel commented on #2369
Except it happens in `file-loader` now and the esModule workaround doesn't seem to work anymore

[2021-08-04 20:12] thecrypticace commented on #2369
We need to switch away from file-loader and use asset modules instead. I'm not sure if we can do that without a breaking change however it might be warranted given that file-loader has been marked as deprecated since January-is and should no longer be used.

I'm not certain how that will impact things like Vue and Vue loader though. I'm going to open a separate issue for investigating that.

[2021-08-04 20:14] thecrypticace opened #3059 "Switch to asset modules"
The current version of Mix uses file-loader. This was deprecated back in January and we need to investigate what it'll take to switch to asset modules.

This would likely be a breaking change for people so we need to figure out a way to stage this in without breaking existing setups.

We also need to investigate the impact on plugins like Vue Loader and how compilation is affected.

[2021-08-05 04:11] TajulIslamSaikat commented on #2791
using git bash

This also worked for me...
![Screenshot 2021-08-05 101039](https://user-images.githubusercontent.com/27636748/128289638-e8026015-0a16-4376-b841-4cdd6eda76d5.png)
![Screenshot 2021-08-05 101128](https://user-images.githubusercontent.com/27636748/128289700-aec7d528-180e-430b-a5ac-27de970fc439.png)

[2021-08-05 20:48] Froxz commented on #1970
Hi @thomas-dm

Did you found a way to create multiple bundles with different babel config?

[2021-08-05 21:42] thaifani commented on #2521
what the final solution

[2021-08-06 13:57] Temepest74 opened #3060 "npm run prod failing for classes used only in javascript"
-   Laravel Mix Version: 6.0.27 (`npm list --depth=0`)
-   Node Version (`node -v`): v16.3.0
-   NPM Version (`npm -v`): 7.15.1
-   OS: Windows 10

### Description:

Running the npm run prod command fails to identify the classes used only inside js. I am using tailwind css.

### Steps To Reproduce:

1. Create a new laravel project
2. Install tailwind.
3. in app.js create an object to append to the

[2021-08-06 19:13] thecrypticace commented on #3060
You need to configure your purge array in tailwind for it to work correctly.

[2021-08-06 19:13] #3060 closed

[2021-08-07 08:44] bhavinjr commented on #926
I had the same issue. sometimes it's working sometimes not.

@BibekStha as you suggest I created a swapfile now. now `yarn production` is working fine.

I Followed https://linuxize.com/post/how-to-add-swap-space-on-ubuntu-18-04/ this link

@BibekStha can u suggest tutorial for this or above link will work perfectly

[2021-08-07 14:29] SeyramWood commented on #2717
This work for me

[2021-08-08 04:26] ITDeveloperDotUz commented on #785
This issue may happen if you are building project or running npm with other user than owner of the project directory.
In my case there was a problem with nuxt compilation when I run npm run dev similar error appeared.
my project was located at /var/www/project and owner of directory was nginx which is www-data. and I ran npm run dev with non-root user on phpstorm. When I re changed owner to my use

[2021-08-08 16:43] Moriarty1982 commented on #3031
can you show your webpack.mix.js file?

[2021-08-08 17:07] Moriarty1982 commented on #2920
What happen when you try this in your webpack.mix.js

[code]

And delete the webpack.config.js file?

[2021-08-09 12:59] Juraj-Masiar commented on #3025
Vue loader now needs to be imported like this:
[code]

[2021-08-09 15:59] thecrypticace commented on #3025
It's been that way for a long time. :)

And we do that: https://github.com/JeffreyWay/laravel-mix/blob/e1871cf35885b5e0bea5a1c3b4c2dd842141fd83/src/components/Vue.js#L116

If you're seeing this error there's probably some kind of issue with a node_modules folder in a parent directory having a mismatched version of vue-loader.

[2021-08-09 16:00] thecrypticace commented on #3025
Also, do you see this problem with the latest mix version 6.0.27?

[2021-08-09 18:24] Moriarty1982 commented on #3055
Did I see this right that your code try to load the assets from the 'src' directory instead of the 'dist' directory?

Btw. what happend when you write it like so:
[code]

[2021-08-09 22:10] biancarosenbaum commented on #3021
@samanthamichele7 Thanks so much! Your solution saved me.

[2021-08-11 07:23] andrey-hohlov opened #3061 "Assets file name collision"
I want to open this issue again with one more case https://github.com/JeffreyWay/laravel-mix/issues/2910
We have vue components and each component can have its own assets inside the components folder.

It was a matter of time when we come to a situation when two different components have two different images with the same name. Rename images? It's not a solution anyway.

For now, we use this temp

[2021-08-11 20:42] OlcaySeygan commented on #2745
I have been trying to solve the issue for 4 days, I am thankful to you.

[2021-08-12 16:23] NelJulgan commented on #2103
thanks a lot!

[2021-08-12 19:34] Moriarty1982 commented on #3061
Why do you not only make subfolders for each component and copy it directly to the public dir?

[2021-08-12 20:00] thecrypticace commented on #3061
I think this is something we should fix as an opt in. But I also think the only proper way to do this is to include the hash in the filename itself and not in a query string for the file in the manifest.

If we do this it'll be in tandem with the switch to asset modules (see #3059).

[2021-08-13 02:32] andrey-hohlov commented on #3061
Because there is no reason to not use imports.

_In our case, it's about Vue components, but the problem is not about Vue only._

[code]

is much simpler than worry about dist folders structure.

[2021-08-13 03:40] Moriarty1982 commented on #3061
You really mean something like:
[code]
is easier to understand and maintain as something like:
[code]

[2021-08-13 03:47] andrey-hohlov commented on #3061
OMG, no
Of course, I mean different.

Check how Webpack handles assets and you will understand what I'm talking about.

[2021-08-13 03:47] thecrypticace commented on #3061
@Moriarty1982 in the current setup the 2nd import would result in asset collisions because the image names are both `image.svg`. The first list of imports is *not* something a user would write. It's what would be generated by the build process.

[2021-08-13 06:53] rustom-net commented on #2549
Thanks, I had to change `fileLoader.loader === 'file-loader'` to `fileLoader.loader.includes('file-loader')` on mine to work.

[2021-08-13 09:05] seyfer commented on #2206
what is the most recent solution?

[2021-08-13 17:02] Moriarty1982 commented on #3061
Ok I had use something like
[code]

and then in the component:
[code]

to get the pictures for the component, no hash is needed with this.

[2021-08-13 19:34] thecrypticace commented on #3061
Yes, that is an alternative option. But there are reasons one might not want to go that route. Either way it _is_ something we change.

[2021-08-14 10:39] sgmobarak commented on #1052
I have used this below code and it's official
mix
    .js('resources/js/app.js', 'public/js')**.vue()**
    .postCss('resources/css/app.css', 'public/css', [
        //
    ]);

[2021-08-14 11:02] swagatik opened #3062 "How to fetch individual object property value and print in console?"
**`First Question`**

MY CURRENT CODE which is fetching the data as per the provided scenario value (i.e l1, l2 value )

    async function getScenarioID (client, l1, l2)
    {
      const cursor =client.db ('snapp_transactions').collection ('price_check_validation').find ({
        Scenario: {
          $in: [
            l1,
            l2
          ]
        }
      });
      const result=await

[2021-08-14 19:44] thecrypticace commented on #3062
This is not the place to ask for JS help / related questions. Ask on the Laracasts forums, StackOverflow, et. al. places.

[2021-08-14 19:44] #3062 closed

[2021-08-15 14:31] evansrobert opened #3063 "Is it possible to remove the vulnerability introduced by package glob-parent?"
Hi, @JeffreyWay @thecrypticace, I stumbled upon a vulnerability introduced by **glob-parent@3.1.0**:
### Issue Description
When I build my project, I notice that a vulnerability [**CVE-2020-28469**](https://snyk.io/vuln/SNYK-JS-GLOBPARENT-1016905) detected in package **glob-parent<5.1.2** is transitively referenced by **_laravel-mix@5.0.9_**.
   However,  **laravel-mix@5.0.9** is so popular that a

[2021-08-15 14:39] thecrypticace commented on #3063
I'll take a look but the problem is that these are indirect dependencies and likely require major upgrades to other packages — including possibly webpack. We do directly use chokidar however so I'll see what we can do there if anything.

As an aside: It makes no sense to include laravel-mix as a dependency to *any* project other than an app / website / similar. It should never have been or be incl

[2021-08-15 14:56] thecrypticace commented on #3063
While we could directly upgrade our dependency we cannot fix our transitive dependencies in Mix v5. Both webpack 4 and webpack-dev-server have a transitive dependency chain to the vulnerable version of glob-parent.

This would require moving Mix v5 to webpack 5 which is what Mix v6 was for. The only solution currently is to upgrade to Mix v6.

[2021-08-15 14:58] #3063 closed

[2021-08-16 07:27] tomosterlund opened #3064 "Cannot read property 'call' of undefined"
-   Laravel Mix Version: 6.0.19 (also tried 6.0.25)

### Description:
For a project with Laravel and Vue, we are using webpack dynamic imports to dynamically load our javascript modules. Our first deployment using this feature went well, but since our second release with dynamic imports we've had the following problem. In our error reporting software (Flare), we've kept getting the following two e

[2021-08-16 09:11] geocfu opened #3065 "webpack-cli updated to the lattest version is causing issues to laravel-mix (propably)"
-   Laravel Mix Version: 6.0.27
-   Node Version: 15.8.0
-   NPM Version: 7.19.0
-   OS: Linux (Ubuntu 20.04.2 LTS)

### Description:
After upgrading this morning the node modules, laravel mix stopped working. This probably has to do with the update of webpack-cli that happened yesterday from version 4.7.2 to 4.8.0.

### Steps To Reproduce:
Create a new project with Laravel, install Jetstream (jus

[2021-08-16 10:57] oprtask-rb commented on #3065
I'm experiencing the same issue.

[2021-08-16 12:01] geocfu commented on #3065
@oprtask-rb  The problem is the peer dependency. This dependency has changed and is causing the issue (although, take this with a grain of salt because I am not aware laravel-mix's codebase).

[2021-08-16 13:42] thecrypticace commented on #3065
I'll take a look at this today. I don't believe it's related to webpack-cli as I've downgraded it locally and it still causes a problem.

[2021-08-16 16:37] pdsuk commented on #2857
Same problem here with copy and copyDirectory

[2021-08-16 18:38] sashko-guz commented on #3065
Same. Prod and dev builds are fine. Hot — isnt working

[2021-08-16 19:41] lmk123 commented on #2649
I just upgraded webpack from 5.46.0 to 5.50.0 and got this error, roll back to 5.46.0 and the error is gone.

[2021-08-17 03:03] austriker27 commented on #3012
Im not actually using a postcss config file - just laravel mix, is that what you mean?

[2021-08-17 03:58] 60ss commented on #1288
add meta tag csrf-token into html head
`<meta name="csrf-token" content="{{ csrf_token() }}">`

[2021-08-17 09:21] JannieT commented on #2406
I got this when I got the build order wrong. This  webpack.mix.js resulted in "mix is not a function":

[code]

    And this one worked fine:

[code]

[2021-08-17 10:57] quantumwebco commented on #3065
+1

[2021-08-17 11:11] Velmoren commented on #3065
Faced the same problem. How difficult is it without hot ((

[2021-08-17 11:34] Lezhni commented on #3065
@Velmoren agreed, my friend

[2021-08-17 11:36] FatihAydin52 commented on #3065
+1

[2021-08-17 12:02] eXist73 commented on #3065
+1

[2021-08-17 12:31] shafter commented on #3065
+1

[2021-08-17 12:43] tijsbakker commented on #3065
+1

[2021-08-17 16:42] wb-joona commented on #1618
We also have the same issue on laravel-mix@6.0.27. Might be related to this, but I'm not sure: https://github.com/vuejs/vue-cli/issues/6030

[2021-08-17 19:20] CordMarston opened #3067 "Module build failed: Error: ENOENT webkac/buildin/global.js"
-   Laravel Mix Version: 6.0.27
-   Node Version: 14.17.5
-   NPM Version: 6.14.14
-   OS: CentOS

### Description:
Uncaught Error: Module build failed: Error: ENOENT: no such file or directory, open '/home/znetworks/laravel-vue-crud-starter/node_modules/webpack/buildin/global.js'
    at eval (webpack-internal:///./node_modules/webpack/buildin/global.js:1)
    at Object../node_modules/webpack/buil

[2021-08-17 20:55] Shadowalker125 commented on #3054
So, turns out its a windows issue with relative paths. The only thing ive gotten to work is to run all npm commands on the host machine instead of inside the vm.

[2021-08-17 20:55] #3054 closed

[2021-08-17 23:17] pad6y commented on #2964
Anyone know how to fix this error when you try to use 'npm run hot'? Thanks.

[webpack-cli] Invalid configuration object. Object has been initialized using a configuration object that does not match the API schema.
 - configuration has an unknown property 'webpackbar'. These properties are valid:
   object { bonjour?, client?, compress?, devMiddleware?, firewall?, headers?, historyApiFallback?, ho

[2021-08-18 01:07] #3065 closed

[2021-08-18 01:09] thecrypticace commented on #3065
This has been fixed but a release has not yet been tagged (h/t to @guihigashi). I'll make a note once a release has been tagged.

[2021-08-18 01:12] guihigashi commented on #3065
You're welcome. Thanks for the mention

[2021-08-18 03:41] xicond opened #3068 "mix-manifest.json not include nested assets"
-   Laravel Mix Version: 6.0.25
-   Node Version: 12.21.0
-   NPM Version: 6.14.11
-   OS: Big Sur 11.5.1

### Description:

Generated mix-manifest.json not include nested assets when in dev mode (or called without version), but physical files are copied

### Steps To Reproduce:
[code]
Steps:
[code]

[2021-08-18 08:14] Velmoren opened #3069 "Invalid configuration object in hot"
-   Laravel Mix Version: "laravel-mix": "^6.0.27"
-   Node Version v14.15.1
-   NPM Version 6.14.8
-   OS: Win10

### Description:
hot mode does not start

Laravel-Mix 6.0.27 + Vue 2.6.14

    "scripts": {
        "dev": "npm run development",
        "development": "mix",
        "watch": "mix watch",
        "watch-poll": "mix watch -- --watch-options-poll=1000",
        "hot": "mix watch --hot"

[2021-08-18 12:11] pvanhooren commented on #3069
I have the same issue. I have created several Laravel + Vue proof of concepts over the past weeks and they all worked flawlessly. I don't know what I did differently this time yet I am stuck with this error now. Have been for the past 2 days...

[2021-08-18 12:38] TimVanHerwijnen commented on #3069
Duplicate of https://github.com/JeffreyWay/laravel-mix/pull/3066

[2021-08-18 14:09] ilyen85 opened #3070 "Mix v6 + Vue style tag => compilation hangs"
-   Laravel Mix Version: 6.0.27
(`npm list --depth=0`)
[code]
-   Node Version (`node -v`): v14.9.0
-   NPM Version (`npm -v`): 6.14.8
-   OS: Mac OS 11.2.3 (20D91)
- webpack.mix.js: (most of the tasks are commented out, for now, to be able to find the issue)
[code]

### Description:
I'm updating a project that was working fine with laravel-mix 5.0.9. I think I have some kind of configuration issu

[2021-08-18 14:30] Velmoren commented on #3069
It be closed

[2021-08-18 14:30] jhosepharaujo commented on #3065
Any predictions for the new version? The previous version 6.0.27 is still bug and yarn and npm still reference it.

[2021-08-18 14:32] ilyen85 commented on #3070
An addition to the issue:
If I change the sass task from:

[code]

to:

[code]

I receive an error message:

[code]

I'm not sure if this is related, but at least an error message. I have found some stack-overflow issues with a similar error message:

https://stackoverflow.com/questions/65416595/webpack-syntaxerror-and-unknown-word-when-building-ssr-cra-app#answer-65450496

In the answer, file-loa

[2021-08-18 14:35] thecrypticace commented on #3070
Can you provide a reproduction repo? I'm not sure what the issue is here but at a glance I'm not sure what I can do to help without one.

[2021-08-18 14:47] ilyen85 commented on #3070
Thanks for at least looking into it, I will try to create a repo without the "sensitive" stuff.

[2021-08-19 02:42] KevinBatdorf commented on #2308
For what its worth, this worked for me: `npx mix watch --hot -- --port 8081`

[2021-08-19 02:43] KevinBatdorf commented on #3022
This command worked for me here:

[code]

[2021-08-19 07:25] #3069 closed

[2021-08-19 07:43] ilyen85 commented on #3070
@thecrypticace I have created a repo you can reach it here:
https://github.com/ilyen85/reproduct-mix-issue-3070

I have added every vendor I use in the other repo, so most of the stuff is not used at all, but the issues are still present, so Its either something in the loader-component.vue or one of the configs files.

Thanks for your help

[2021-08-19 07:46] Velmoren commented on #3069
Even after executing this command and adding the hot dependency in this way, the module does not work correctly, there is no live-reload. laravel-mix 5v worked great with this, now project development is much more complicated. I will return temporarily to the previous version, it is practically impossible to work with this

[2021-08-19 11:48] pvanhooren commented on #3069
For me, npm run hot works now. I just ran npm update to update all dependencies and now it works.

[2021-08-19 15:38] ilyen85 commented on #3070
No way... I have the issue I had a style that caused an infinite loop!

[code]

the `.py-0` caused the issue, I had to enable every sheet one by one then every line till I have found it...

🤦

Thanks for the help and sorry for the time you wasted on me! Closing this issue

[2021-08-19 15:38] #3070 closed

[2021-08-19 17:39] thecrypticace commented on #3070
No worries! Glad you got it figured out!

[2021-08-20 07:29] llgreg commented on #2320
Still happening

[2021-08-20 12:47] renekoch commented on #2055
Ran into similar problem (empty css files) ... Fixed it by having .less/.sass first then any .js last.

Hope this help to finding the actual cause.

[2021-08-21 22:26] cristian-araujo commented on #546
I have the same issue and trying that but it retrieve errror:

[code]

[2021-08-23 06:46] jasperf opened #3073 "Track Deprecated Packages before upgrade to Laravel Mix 6"
-   Laravel Mix Version: #.#.# (`npm list --depth=0`):  laravel-mix@5.0.9
-   Node Version (`node -v`): v16.1.0
-   NPM Version (`npm -v`):7.21.0
-   OS: macOS  Big Sure 11.5

### Description:

How can we use `node --trace-deprecation node_modules/webpack/bin/webpack.js` to see deprecated packages in Mix? Current command does not work due to wrong `entry`, missing `mode`.

[2021-08-23 15:21] selim13 commented on #2919
This is a valid issue.

Mix 6 disables webpacks's default cacheGroups, preventing code splitting (and grouping) inside dynamic imports.
https://github.com/JeffreyWay/laravel-mix/blob/d27a77abb5a32f42e47d6e3d344ba757d85ad89a/src/Chunks.js#L165

The simplest solution seems like is to reenable webpack's default cacheGroups from config. Something like this:
[code]
See https://webpack.js.org/plugins/sp

[2021-08-23 15:30] thecrypticace commented on #2919
Yeah we explicitly disabled it because it can produce chunks with very inconsistent names. I think this would be a good feature to add back that can be explicitly enabled though.

[2021-08-23 23:49] RomuloLim commented on #2320
same issue.

[2021-08-24 06:16] AhmadOf opened #3074 "Hot module reload is not refreshing the browser"
-   Laravel Mix Version: 6.0.28
-   Node Version: v14.17.2
-   NPM Version: 6.14.13
- YARN Version: 1.22.11
-   OS: Linux Ubuntu 20.04

### Description:
After upgrading to latest Laravel Mix version which is 6.0.28, I am facing an issue with hot module reload which is that any change in source code will trigger the recompilation again but the browser is not being refreshed at all and I can't see a

[2021-08-24 15:06] adietz commented on #3074
I was able to get HMR working again by adding this to my webpack.mix.js:

`.webpackConfig({
        devServer: {
            allowedHosts: 'all'
        },
    })`

works because in my case, the request every second  to ws: was actually erroring out with an invalid host error.   Since I use laravel valet to develop, the url of my local development site is not localhost, but a url like xyz.test.

[2021-08-24 15:13] AhmadOf commented on #3074
@adietz that's work fine for me, now the issue solved as I am also not using localhost but a named host like mysite.local which is exist in hosts file. but the same was working fine before updating to latest version anyway.

[2021-08-24 15:32] thecrypticace commented on #3074
I'mma re-open this. That seems like something we should add to the default config.

[2021-08-25 07:15] erikjoling opened #3075 "How to change @babel/preset-react preset runtime to "classic"?"
-   Laravel Mix Version: 6.0.28
-   Node Version: 14.16.0
-   NPM Version: 7.21
-   OS: Ubuntu 20

### Description:
I'm seeing the following errors when trying to build my react files: `Module not found: Error: Can't resolve 'react/jsx-runtime'`

I pinpointed it to `/src/components/React.js`, specifically this line `presets: [['@babel/preset-react', { runtime: 'automatic' }]],`. When I change it t

[2021-08-25 23:15] benjivm opened #3076 "Can't run hot"
-   Laravel Mix Version: 6.0.28
-   Node Version: 16.7.0
-   NPM Version: 7.20.3
-   OS: Windows 10

### Description:

`npm run hot` results in the following error:

[code]

### Steps To Reproduce:

I did have this setup working before, but downgrading packages hasn't worked, not sure what exactly the culprit is:

`webpack.mix.js`:

[code]

`webpack.config.js`:
[code]

I can get the build to work

[2021-08-26 16:03] callmez opened #3077 "laravel-mix vue3 defineProps type error"
-   Laravel Mix Version: 6.5.2 (`npm list --depth=0`)
-   Node Version (`node -v`):16.6.1
-   NPM Version (`npm -v`):7.20.3
-   OS: Mac OS 11.5.1

### Description:
Hi. i got a strange type error that use vue3 and tyepscript script setup syntax.
i'm try to reappear by `vue-cli` but it's worked well.  thanks!
![image](https://user-images.githubusercontent.com/1625891/130996931-89621c3a-637c-4464-a59

[2021-08-26 19:10] #3077 closed, assigned to nobody

[2021-08-27 20:41] #3076 closed, assigned to nobody

[2021-08-28 11:27] guillaumebriday opened #3078 "Extract your BuildOutputPlugin as an external package?"
### Description:

I'm currently working on [rails/webpacker](https://github.com/rails/webpacker) and I found your BuildOutputPlugin pretty neat.

I would like to change the default Webpack output too like [webpack-contrib/webpack-stylish](https://github.com/webpack-contrib/webpack-stylish) did but it's now deprecated for reasons.

Did you planned to extract your [BuildOutputPlugin](https://github.

[2021-08-28 12:08] thecrypticace commented on #3078
There aren't any plans to do so currently but I'm not opposed to the idea. If there was a plugin that was suitable we would have used that one too.

@JeffreyWay What are your thoughts? Is this something you want to do? We could do a monorepo with multiple packages (might serve as a good way to clean up some other stuff too honestly) or I could extract it and publish it myself?

[2021-08-29 01:10] eboye opened #3079 "combine vue extractStyles, vendor and app css into one"
-   Laravel Mix Version: 6.0.28
-   Node Version: v16.8.0
-   NPM Version: 7.21.0
-   OS: MacOS 11.5.2

### Description:

I have a Laravel project where the frontend is done in VueJS with inertiaJS. I wanted to extract all the css from javascript and my sass into one css file, but the result was 3 css files.

### Steps To Reproduce:

Here's my webpack.min.js:

[code]

this outputs:

public/css/app

[2021-08-29 17:13] xlcrr commented on #2717
Appending `.vue()` to webpack.mix.js autoinstalled vue-loader which fixed the bug.

[2021-08-30 09:14] danilopolani commented on #2211
Note: to correctly parse Tailwind postcss directives, remember to create a `postcss.config.js` file including the tailwind plugin, as per [their docs](https://tailwindcss.com/docs/guides/vue-3-vite):

[code]

[2021-08-30 10:32] G3z commented on #2422
I'm still struggling with this :

My solution is to create 2 files `webpack.admin.mix.js` and `webpack.mix.js`

I also edited npm scripts like so
[code]
not very elegant but it works

[2021-08-30 13:16] thecrypticace commented on #3078
@JeffreyWay That would be fantastic!

[2021-08-31 00:21] thecrypticace commented on #3078
@guillaumebriday I've extracted it (with some additional options) here: https://github.com/laravel-mix/webpack-build-output

It's not published yet because there are definitely some customization points that need to be added if it's going to be used by more than just Laravel Mix. Mind opening some issues there detailing what you're looking for?

I've also got some things planned that could necessi

[2021-08-31 00:21] #3078 closed

[2021-08-31 12:30] thedavidthomas commented on #2025
was using @yordivd's solution but suddenly got
[code]

have just tried out paras-malhotra's solution (updated to use js-md4 for md4 hashes) along with adding the fonts directory to mix-manifest `mix.version(['fonts/**']);` all is working well again

[2021-08-31 17:33] rarg27 commented on #2983
Any luck on this issue?

[2021-08-31 17:35] thecrypticace commented on #2983
Can someone provide a reproduction repo? That'll make triaging this one much quicker.

[2021-08-31 18:04] dducro commented on #2983
This is a production repo where I have this issue on the feature/mix6 branch.
(I could create a separate project to isolate the issue later this week)
https://github.com/teamducro/gloomhaven-storyline/tree/feature/mix6
`npm i` `npm run dev` will result in this error because two images with the same name from different origins are copied to `public/images`

[2021-08-31 19:28] mpietrucha opened #3080 "Failed to build after mini-css-extract-pugin update"
-   Laravel Mix Version: 6.0.29
-   Node Version: 14.17.3
-   NPM Version: 6.14.13
-   OS: Mac Os

After recently update package mini-css-extract-pugin compilations fails with message:

TypeError: Cannot read property 'getAssets' of undefined
    at node_modules/laravel-mix/node_modules/mini-css-extract-plugin/dist/loader.js:290:37

[2021-08-31 19:30] thecrypticace commented on #3080
oh fun… :/ I'll take a look soon thanks for the report

[2021-09-01 03:13] phatNfqAsia opened #3081 "BUG: tsconfig baseUrl / path does not work"
-   Laravel Mix Version: 6.0.27 (`npm list --depth=0`)
-   Node Version (`node -v`): 14.17.4
-   NPM Version (`npm -v`): 6.14.14
-   OS: Ubuntu 20.4

### Description:
I am setting up my repo to work with Typescript, which include a `tsconfig.json` file having:
[code]
And VsCode IDE does take this into consideration and give hint / load file properly. But when I run `mix`  (by `npm run dev`). It ca

[2021-09-01 03:23] thecrypticace commented on #3081
This isn't a mix problem. When you have custom paths in a typescript config you have to set up custom resolution behavior / aliases in webpack as well. As far as I know there's no syncing between ts-loader / tsconfig paths and webpack's config which I believe is on purpose since they're not directly compatible options. For instance if you used a prefix of `@/` to mean the root dir you could achiev

[2021-09-01 03:23] #3081 closed

[2021-09-01 10:10] ujwaldangij commented on #1072
![error-in-npm](https://user-images.githubusercontent.com/43333055/131653630-d41e8d70-0cb0-4d5d-b3f6-8982d25c6363.png)

i try every thing please any help

[2021-09-01 12:24] seraos commented on #1072
rm -r -fo app

https://stackoverflow.com/questions/61573115/rm-rf-equivalent-for-windows-powershell

[2021-09-01 12:25] seraos commented on #1072
rm -r -fo node_modules

https://stackoverflow.com/questions/61573115/rm-rf-equivalent-for-windows-powershell

[2021-09-01 12:42] guillaumebriday commented on #3078
Awesome! Thanks @thecrypticace 🙏

I will try to use it in Webpacker as soon as possible!

Do you know why webpack-contrib/webpack-stylish has been archived?

[2021-09-01 12:46] thecrypticace commented on #3078
it was deprecated because a reported was _supposed_ to be moved into the cli but it looks like they just updated the stats printer in webpack 5 instead.

[2021-09-01 12:47] thecrypticace commented on #3078
Sure thing, happy to help! I'm gonna try to finish up some stuff with it over the next week or two so we can publish it and use the package in mix itself.

[2021-09-01 15:29] lmk123 commented on #2649
After some experimentation, I found that this is not a webpack problem.

I used [webpack-extension-reloader](https://github.com/rubenspgcavalcante/webpack-extension-reloader) in my project, but it only supports webpack v4. Once I removed this plugin, the project worked fine, even after using devtools `inline-source-map`.

[2021-09-01 15:56] matthewhutchings commented on #3074
Having the same issue.

Making changes to any vue files, NPM complies the changes but they do not show on the browser unless you stop NPM and start again.

[2021-09-01 20:10] LocalHeroPro opened #3082 "Wrong mixing. From where?"
-   Laravel Mix Version: 6.0.29 (`npm list --depth=0`)
-   Node Version (`node -v`): 14.16.1
-   NPM Version (`npm -v`): 7.14.0
-   OS: Ubuntu 20.04 LTS

### Description:
Wrong exporting.
In source file we have `node_modules/bootstrap/dist/css/bootstrap.css`:
[code]
in destination file we have `public/css/app.css`:
[code]
end so one ...

### Steps To Reproduce:
in package.json
[code]
in bootstrap.

[2021-09-01 20:39] guillaumebriday commented on #3078
Ok it was a piece of cake using it! 🎉

In my `package.json`:
[code]

Add [Webpackbar](https://github.com/unjs/webpackbar):
[code]

and here is my `config/webpack/development.js`:

[code]

Here is the output
<img width="2560" alt="Screen Shot 2021-09-01 at 22 38 51" src="https://user-images.githubusercontent.com/8252238/131741686-79d36910-d2c7-4440-84c4-0d2eaada88e6.png">

[2021-09-02 12:19] Siilwyn opened #3083 "Help wanted with downstream dependency issue"
-   Laravel Mix Version: 6.0.29
-   Node Version (`node -v`): 14.17.5
-   NPM Version (`npm -v`): 6.14.14

### Description:
:wave: hi, I'm the maintainer of `css-declaration-sorter` which is a dependency of `cssnano`, some users of `laravel-mix` reported this issue: https://github.com/Siilwyn/css-declaration-sorter/issues/170
Trying to figure out where this is coming from, it seems the issue is no

[2021-09-02 13:14] thecrypticace commented on #3083
I should be able to find some time to look into this over the next few days. Thanks for the report & reproduction. Hopefully we can figure it out.

[2021-09-02 20:59] AlexioVay commented on #1942
This issue seems like it can have multiple error sources. In my case I it was relevant to **Tailwind CSS** and the `purge` option. I don't remember exactly what package I have installed but I copy pasted the following to my `tailwind.config.js`:

    module.exports = {
        mode: 'jit',
        purge: {
            content: [
                './public/**/*.html',

After I have removed the line

[2021-09-03 02:11] thecrypticace commented on #3083
So I just took a look and can't reproduce the issue but I guess this was timely because _some_ dependency somewhere updated and it appears to no longer be broken. At least one person in the issue has confirmed. I'd *love* to see a npm or yarn lock file from when the build was broken so we could figure out what actually fixed it.

I'll leave this open until that issue is closed just to be sure.

[2021-09-03 07:59] Siilwyn commented on #3083
Much appreciated @thecrypticace! This is why I love open source.

[2021-09-03 10:39] kamerat opened #3084 "Dynamic imports vue router webpack 5"
-   Laravel Mix Version: v6.0.28
-   Node Version: v14.17.0
-   NPM Version: 7.21.1
-   OS: Windows 10

As seen in issue #1941 : https://github.com/laravel-mix/laravel-mix/issues/1941#issuecomment-455470736

I am myself "heavily using javascript dynamic imports" and have been waiting for the webpack 5 w/ mix for a long time now in order for it to sucessfully split my dynamic imports so that not al

[2021-09-03 12:34] thecrypticace commented on #3084
Dynamic imports _do_ split chunks but that doesn't necessarily mean they're split into separate chunks. I'm honestly not sure what the best behavior here should be but I think the files in this case should still be separate. I'll have to take a look.

In general though I suggest using the webpackChunkName magic comment to explicitly name & group your dynamic imports:
[code]

If you're using a cust

[2021-09-03 13:15] kamerat commented on #3084
Thanks for the quick reply @thecrypticace.
I've tried to add chunk name to see if it is present in the output. I have not activly told babel to remove comments, but something might remove them still. I am not sure of the default behaviour, but in my case, the .map file has my magic comment but the minified .js does not.

[2021-09-03 14:18] thecrypticace commented on #3084
The end result should be that the filename where the pages are stored is different. You won't see it in the minified file at the very end.

[2021-09-04 17:15] ankurk91 commented on #3084
https://medium.com/dailyjs/webpack-4-splitchunks-plugin-d9fbbe091fd0

[2021-09-04 17:42] robinheidrich opened #3085 "Subdirectory is not written to the manifest"
-   Laravel Mix Version: 6.0.29
-   Node Version (`node -v`): 16.8.0
-   NPM Version (`npm -v`): 7.21.1
-   OS: Windows 10

### Description:
I use `mix.copy()` to copy a directory and `mix.version()` above to version everything.

The subdirectory in the specified directory is copied, but not written to the manifest.

### Steps To Reproduce:
Create a directory with a subdirectory in it and use `mix

[2021-09-06 00:38] shtbik commented on #3074
Same for me:
[code]

@adietz thanks for the workaround

[2021-09-06 03:51] phatNfqAsia commented on #3081
@thecrypticace you are right, today I have a similar problem with Rollup too. Thanks!

[2021-09-06 21:02] thecrypticace commented on #3083
Closing as https://github.com/Siilwyn/css-declaration-sorter/issues/170 has been fixed. Thanks!

[2021-09-06 21:02] #3083 closed

[2021-09-07 09:10] alaafathy22 commented on #1072
Thank you 👍 **_works_** 💃

[2021-09-07 14:39] florianbouvot opened #3086 "clean-css and cssnano, which one is used?"
Hi, I just saw that Mix have clean-css and cssnano as dependencies and I'm wondering witch one are used for minification/opimisation?

I try to customize cssNano config but it doesn't seems to work.

Thank you.

[2021-09-07 15:13] thecrypticace commented on #3086
CSSNano is used by webpack. For things using .styles/.combine/etc… clean-css is used. We should be using cssnano for everything. It's a historical left over that I plan to remove eventually. There's no reason to have both.

[2021-09-07 15:14] florianbouvot commented on #3086
Thank you

[2021-09-07 15:14] #3086 closed

[2021-09-08 09:05] tientv-geo opened #3087 "Update version of webpack-dev-server to 4.1.1"
-   Laravel Mix Version: 6.0.29

### Description:
Currently, we're using `webpack-dev-server 4.0.0-rc.1`. It has a known [issue](https://nvd.nist.gov/vuln/detail/CVE-2021-23424) with `ansi-html 0.0.7`. I suggest using `webpack-dev-server 4.1.1` as they have [resolved](https://github.com/webpack/webpack-dev-server/releases/tag/v4.1.1) the issue by using another safe fork.

[2021-09-08 09:54] Chi-G commented on #804
img 1
![Screenshot (243)](https://user-images.githubusercontent.com/35651026/132484978-eafc3a5e-5912-4c07-a6af-8f1c34259a3d.png)
img 1 cont...
![Screenshot (244)](https://user-images.githubusercontent.com/35651026/132484974-0226ab55-66ee-44e8-a3e1-d4419baad7ed.png)
 how do i solve this when i run `npm run dev` ?

**app.scss** file below
`@import url('https://fonts.googleapis.com/css?family=Nunito'

[2021-09-08 11:33] Chi-G opened #3089 "npm run development Mix compile error"
-   Laravel Mix Version: #.#.# (`^6.0.6`)
-   Node Version (`14.17.0`):
-   NPM Version (`6.14.13`):
-   OS: windows 10

### Description:
├──  laravel-mix@0.11.4

npm ERR! Please include the following file with any support request:
C:\Users\chijid1\AppData\Roaming\npm-cache\_logs\2021-09-08T09_23_47_890Z-debug.log

`0 info it worked if it ends with ok`
`1 verbose cli [`
`1 verbose cli   'C:\\Progr

[2021-09-08 13:28] thecrypticace commented on #3089
It can't find the files with the paths given. Check the spelling and casing of the files and your paths. This is not an issue with Mix. Please ask somewhere like the Laracasts forums. Thanks!

[2021-09-08 13:28] #3089 closed

[2021-09-08 23:16] andronocean commented on #2961
Yep, same here. I've got a project that uses [copy-webpack-plugin](https://github.com/webpack-contrib/copy-webpack-plugin) to compile a bunch of JSON config files into a single object. I'm using `mix.combine()` to concatenate that with other files. In my case everything is working — but I would feel more confident about it if I could ensure that some things run sequentially.

I started using Mix b

[2021-09-09 01:39] #3087 closed

[2021-09-09 03:16] #3074 closed

[2021-09-09 03:22] #2905 closed

[2021-09-09 04:33] thecrypticace commented on #2996
This was addressed back in May. There is another update to the types to fix usage in common JS deps that we'll be releasing soon but it won't change what you have to do.

You should do the following:

[code]

[2021-09-09 04:33] #2996 closed

[2021-09-09 04:34] thecrypticace commented on #3080
Can you provide a reproduction repo? I'm unsure how to reproduce this without more info.

[2021-09-09 04:37] thecrypticace commented on #2605
If this is still an issue I'm not sure if this is something that can be fixed but I'll look into it

[2021-09-09 04:42] thecrypticace commented on #2674
This is due to a webpack compiling issue when targeting ES5. Try using Mix v6 & typescript + tsconfig with a target of ES2015 or greater. I've used custom elements in this case and it worked perfectly.

[2021-09-09 04:42] #2674 closed

[2021-09-09 04:49] thecrypticace commented on #2778
You can do this in a few ways:
1. Recommended way: Use a `postcss.config.js` file to configure your list of plugins. Mix will use these as well and you won't have to specify them in your webpack.mix.js file.
2. Alternatively you can call `mix.options({ postCss: [… plugin list here …] })`

It would be somewhat nice for a single call to mix.postCss to set the global plugin list but it would be unexp

[2021-09-09 04:53] thecrypticace commented on #2812
If we add support for this it'll be in a separate call. `mix.before` runs before the build is even set up so it's not the appropriate place. In the interim you can achieve this with a custom webpack plugin using the `beforeCompile` hook

[2021-09-09 04:56] thecrypticace commented on #2832
I'm going to close this as I'm fairly certain this is something that we ourselves cannot fix. If someone comes up with a set of solid reproduction steps I'll take another look then but I don't expect a solution is easily achievable by us and there looks like there's a workaround.

[2021-09-09 04:56] #2832 closed

[2021-09-09 04:58] thecrypticace commented on #2903
Closing as there's an answer / workaround.

[2021-09-09 04:58] #2903 closed

[2021-09-09 05:02] thecrypticace commented on #2920
Can you provide a reproduction repo?

[2021-09-09 05:06] thecrypticace commented on #2961
I think it's entirely reasonable to expect .styles / .combine to run after the build but I'm not sure of the ramifications or requirements of making that work. I'll have to look into it. If we could wire it up directly as dependencies in webpack that would be preferable because it would then "just work" (heh famous last words)

[2021-09-09 05:07] thecrypticace commented on #2964
The latest version of Mix got rid of that error. We'll have some more HMR fixes coming shortly.

[2021-09-09 05:07] #2964 closed

[2021-09-09 05:08] thecrypticace commented on #2969
I noticed this recently with an older sass project. It's almost like it was printing directly to stdout. I'll have to look into it.

[2021-09-09 05:09] thecrypticace commented on #2976
Closing as you fixed the issue. The npm cache is a bit weird sometimes.

[2021-09-09 05:09] #2976 closed

[2021-09-09 05:10] thecrypticace commented on #2977
Are you seeing problems with the latest version of Mix?

[2021-09-09 05:13] thecrypticace commented on #3002
The browser-sync issue has been fixed. We pulled the types in directly to bypass the chokidar problem. There's gotta be a better solution though. :/

[2021-09-09 05:13] #3002 closed

[2021-09-09 05:15] thecrypticace commented on #3017
We do not support configuring autoprefixer options per file. This would be an interesting addition but I'm not sure if it's _really_ worth the effort. I've got some tentative plans for Mix 6.1 that may make it a non-issue but I'm not certain.

[2021-09-09 05:17] thecrypticace commented on #3027
I'd love to have a better fix for this. That is a significant annoyance to have to deal with. It'll require switching to a different plugin or something though.

[2021-09-09 05:19] thecrypticace commented on #3025
@nkoporec friendly ping — I'd love for you to take a look if/when you can. Thanks!

[2021-09-09 05:21] thecrypticace commented on #3040
We're using a newer version of webpack-dev-server. These options have been renamed but the documentation was not yet updated when this issue was opened. I recommend checking the dev server documentation now as it _should_ be updated. We'll have another release coming out soon that upgrades to the latest tagged version of webpack dev server.

[2021-09-09 05:21] #3040 closed

[2021-09-09 05:23] thecrypticace commented on #3045
You should use mix.options to change the setting instead of reaching into the mix & config objects directly. The internals of those are mostly not public API. As for setting it to false when the target is node — good idea. I'll see if we can (hopefully) do that.

[2021-09-09 05:25] thecrypticace commented on #3067
Can you provide a reproduction repo?

[2021-09-09 07:09] nkoporec commented on #3025
@thecrypticace I just re-tried it by updating to latest mix version and I still get the error. In order to get it working, I had to downgrade mix to v5, which does not have this issue, so at least I have a workaround.

[2021-09-09 12:41] thecrypticace commented on #3025
Could you provide a reproduction repo?

[2021-09-09 13:07] nkoporec commented on #3025
Unfortunately I can't since it's a private repo. If it helps this is my package.json file:
[code]

[2021-09-09 13:07] karlomikus commented on #3017
No problem, here's my temporary solution:

[code]

[2021-09-09 15:52] arborrow commented on #3087
Thanks for merging. What do I have to do to get this update into my project? When I did npm install laravel-mix in a fresh folder it still shows as having the 4.0.0-rc.1 version of webpack-dev-server. Similarly yarn upgrade didn't seem to update the package.json file as I would have expected.

[2021-09-09 16:42] thecrypticace commented on #3087
I'll be tagging and publishing a point release sometime tonight

[2021-09-09 21:35] #2925 closed

[2021-09-09 21:40] thecrypticace commented on #3087
@arborrow @tientv-geo I've published a new release. Should be good to go now!

[2021-09-10 11:21] u01jmg3 commented on #2925
Still having issues with these 2 copies which used to work in Mix v5.

Instead relying on the code from @blakewatson

[code]

[2021-09-12 13:37] laudaikinhdi commented on #2983
the same issue. Help me!

[2021-09-12 15:14] thecrypticace commented on #2983
There's two issues here:
1. Vue processing image urls as requires when we don't want it to. I'll look into this.
2. Require file names need to be unique — This is only easily solvable with a breaking change. Doing this in a non breaking manner will require a bit more work but I have some ideas.

[2021-09-13 10:50] Livijn opened #3097 "Is there a way to add files to the manifest rather than overriding it?"
I have a website and a website builder with multiple themes. I am trying to build a theme, without overriding the other ones in the `mix-manifest.json`. It would be fine if I could just stop the themes from ever touching the `mix-manifest.json` so I can just use that for the main website.

Is this possible? Or is that what you are adding in #3096 ?

[2021-09-13 10:54] thecrypticace commented on #3097
If I understand what you're asking for correctly then yes that is what we'll be adding. In the mean time you can use the `laravel-mix-merge-manifest` npm package: https://github.com/kabbouchi/laravel-mix-merge-manifest

[2021-09-13 10:54] #3097 closed

[2021-09-14 02:43] mattbucci commented on #3075
I'd like to change this because I source react externally and therefore my development environment uses a production react build, but when using .react() it's automatically set to
[code]

when using `npm run dev` I then have a mismatched version of react and react-jsx-runtime
![image](https://user-images.githubusercontent.com/3284147/133185951-fdb7de10-f921-483e-8b19-dd89842ebece.png)

I was able

[2021-09-14 08:46] Solartradex opened #3099 "Change files processing to async after upgrade from 5 to 6"
-   Laravel Mix Version: 6.0.29 (`npm list --depth=0`)
-   Node Version (`node -v`):  v16.4.1
-   NPM Version (`npm -v`): 7.18.1

-   OS: Windows 10 WSL

### Description:

I need to process a sass function and when it finish combine the result with other styles:

mix.sass(
    "resources/assets/sass/customer/customer.scss"
    , "public/assets/customer/css/customer.css");

mix.styles([
        "no

[2021-09-14 09:08] Alhiane commented on #2905
@nicolailebek  very helpful for laravel mix

[2021-09-14 11:42] erikjoling commented on #3075
I can confirm the `.babelConfig` workaround works for me. I omitted the plugins. Thanks! @mattbucci

[2021-09-14 12:08] the-alex-mark commented on #580
Deprecated symbol used, consult docs for better alternative

[2021-09-14 16:40] abnud1 opened #3100 "source maps are broken"
-   Laravel Mix Version: 6.0.31 (`npm list --depth=0`)
-   Node Version (`node -v`): 16.9
-   NPM Version (`npm -v`): 7.22
-   OS: Arch Linux

### Description:
I'm building a fresh project using ReactJS 17, I have this mix config:
[code]
but when I view my application sources in chromium 93 under webpack:// I see this image:
![screenshot1](https://user-images.githubusercontent.com/12657077/1332960

[2021-09-14 18:48] johnwc commented on #2977
Currently using 6.0.19 with things working as expected.

[2021-09-14 21:19] ERROPiX opened #3101 "Changelog and releases are outdated"
This is not an issue with the tool itself, but with the mismatches of versions in the change log, tags and release and the current release on NPM repository.

The latest version in CHANGELOG.md is 6.0.14.
The latest version in NPM is 6.0.31.

[2021-09-14 21:21] thecrypticace commented on #3101
This is a good point. I haven't kept up with the change log. It'd be a good thing to automate honestly. I'd love a PR to backfill those (if you're up for it). Otherwise I'll tackle it possibly either this week or next.

[2021-09-15 08:57] mlocati opened #3102 "Invalid publicPath for js files (duplicated nested dir name)"
-   Laravel Mix Version: 6.0.31
-   Node Version: 12.16.1
-   NPM Version: 6.13.4
-   OS: Windows 10 (21H1 19043.1202) in Italian

Let's assume this project structure

[code]

Here's the content of the relevant files

[code]

[code]

When I run `npx mix` I'd expect this structure:

[code]

But instead I have this:

[code]

(Please remark that the generated js file is placed in the `../web/web/js`

[2021-09-15 09:21] gerald-michael opened #3103 "How To reduce bundle size of a laravel-mix react application"
-   Laravel Mix Version: 6.0.29
-   Node Version (`node -v`):v14.17.3
-   NPM Version (`npm -v`):6.14.13
-   OS:ubuntu20.04

### Description:
I created a laravel react and typescript project using [https://dev.to/sadhakbj/how-to-install-use-reactjs-in-typescript-with-laravel-8-laravel-mix-6-2i0c](guide) .
Currently these are the only dependencies i have added to my package.json
` "dependencies": {

[2021-09-15 09:31] loilo commented on #2926
For others who pass by (like me): Mix indeed allows to configure cssnano via [its options](https://laravel-mix.com/docs/4.0/options):

[code]

[2021-09-15 13:23] thecrypticace commented on #3102
I'm not surprised honestly. Relative paths outside of the "root" can be problematic. Thanks for bringing this up. I'll take a look this weekend to see what we can do here.

[2021-09-15 22:41] zombietfk opened #3104 "Compiling artefacts dependant on other artefacts"
-   Laravel Mix Version: 6.0.31
-   Node Version: v16.9.1
-   NPM Version: v7.21.1
-   OS: Ubuntu 20.04

### Description:

I'm trying to build artefacts that are dependant on artefacts created by previous build steps - for example, to create one file which is first compiled without minification, then a second which is minified, creating two separate files (where the second artefact is built using

[2021-09-15 22:46] thecrypticace commented on #3104
I've been thinking about this. I think that the general case for this might be too complicated however for the case of styles, combine, and maybe minify we are likely going to make it run after the webpack build has finished (if I can find a way to do it within the build and still produce the desired output I'll do that but I'm not certain).

Question about your example: Is there a reason you want

[2021-09-15 23:02] zombietfk commented on #3104
Yes, this is just a simplified demonstration of what I'm trying to achieve - what I'm actually trying to do is create multiple artefacts with different build targets, which themselves are based on other artefacts which have been built using a mix of `mix.babel(..)` and `mix.js(..)`

[2021-09-15 23:07] thecrypticace commented on #3104
What would be the purpose of combining files from multiple build targets?

Also, as an aside, if you're working with different build targets would this WIP PR be useful for you? https://github.com/laravel-mix/laravel-mix/pull/3096?

I know of several use cases but I want to be sure I'm planning ahead for future capability. The other thing I'm thinking about (but not sold on because of the inherent

[2021-09-15 23:08] Chopinsky commented on #3103
Usually, I'd split out library dependencies (i.e. react core library and icons libraries) to their own bundles, in `webpack.mix.js`, you can add `mix.extract(['react', 'icons'], '/path/to/public/library/bundle.js')` to the build chain, which will generate a JS bundle for the library dependencies to be loaded separately, and as a result reduce the size of your app.

[2021-09-15 23:35] zombietfk commented on #3104
Yes, that PR does look promising! Hmm I think I'm not explaining my issue very well - But basically I want to take the existing artefact(s) and recompile them to a new target. I could probably rebuild from the source again, but I'm not sure if this would be more efficient or not as primarily I'm trying to cut down the overall build time.

[2021-09-16 02:25] thecrypticace commented on #3104
Okay, got it. I'll give it some thought. It may be that the task changes set to land in 6.1 will suffice for your use case.

[2021-09-16 07:41] Befk commented on #2766
replace
 mix.js('resources/js/app.js', 'public/js');
 by

mix.js('resources/js/app.js', 'public/js').vue()

[2021-09-16 07:53] alokVishu commented on #2613
It works for me. I just add below two package.

   "vue-loader": "^16.1.2",
   "@vue/compiler-sfc": "^3.0.4",

[2021-09-16 13:27] gerald-michael commented on #3103
I have tried this, but when i build the size remains the same around 4.8mbs.
I copied the code to a project created with create react app and the bundle size there is 98.3 KB

[2021-09-16 16:09] kojoYeboah53i commented on #2832
When I ran into this problem I couldn't fix it with any of the solutions above. It turns out my issue was with the vs code editor (IDE)
So I used bash to to run `npm run dev` and it solved my issue

[2021-09-17 10:06] APerezdelatorre commented on #2515
How did you solve this?

[2021-09-17 11:25] z-flash commented on #1539
So many attempts but still getting same error in Windows 10
any idea?

[2021-09-17 14:45] marcamos opened #3105 "How to correctly setup two .js() and .vue() method calls?"
-   Laravel Mix Version: 6.0.29 (`npm list --depth=0`)
-   Node Version (`node -v`): v15.5.1
-   NPM Version (`npm -v`): 7.17.0
-   OS: Big Sur 11.6

### Description:
In `webpack.mix.js`, I need to compile _two_ different `.js()` inputs/outputs and pass them through `.vue()`, but I can't determine the correct way of setting it up.

Here's what I've tried:

[code]

and

[code]

In both cases, the *

[2021-09-17 15:00] thecrypticace commented on #3105
1. You should only call `.vue()` once. It's a feature flag that enables Vue support. The method chaining is merely a convenience — it doesn't mean anything specific to attach it to a call to .js() (you could call it by itself or after .postCss() or .options() — it doesn't matter).

2. I know of no problems using / compiling multiple JS files. Can you provide a reproduction repo?

[2021-09-17 15:14] marcamos commented on #3105
Thanks for the feedback, @thecrypticace! I can't quickly provide a reproduction repo, but may give it a shot if my continued attempts keep failing.

Since my original post, I have a little more information — I was able to determine that, in this arrangement:

[code]
…is always seems to _not_ process the first instance of the `.js()` call. I confirmed this by swapping the order of the two you see a

[2021-09-17 15:22] thecrypticace commented on #3105
Two ideas:
1. Change the destination directories so they're not overlapping (try `web/assets/one/js` and `web/assets/two/js`)
2. Change the JS calls so it's not app.js but app1.js and app2.js

I feel like the webpack entries are getting overwritten somehow

[2021-09-17 16:31] marcamos commented on #3105
Thanks again, @thecrypticace … but, _bah_, no luck. I _did_ come into some luck by commenting-out `.extract()` (which I realize wasn't in my original post — I had no idea it [might] be part of the problem). Still tinkering…

[2021-09-17 18:27] AndersDJohnson commented on #2383
Ran into similar problem, this seemed to solve for me:
[code]

[2021-09-17 19:55] marcamos commented on #3105
Update: it's now, definitely, working as expected after removing `.extract()` from the `webpack.mix.js` file. I realize this means the `vendor.js` and `manifest.js` files _won't_ be extracted anymore, but that's a small price to pay to make it, you know, _work_, hah.

[2021-09-17 21:59] thecrypticace commented on #3105
It should still work with Vendor extractions — we'll need to look into this.

[2021-09-18 05:14] LuanHimmlisch opened #3106 "Babel ignoring setPublicPath (public directory)"
-   Laravel Mix Version: 6.0.31
-   Node Version: 16.9.1
-   NPM Version: 7.23.0
- Yarn Version: 1.22.11
-   OS: Linux Mint 20.2 Cinnamon

### Description:

Setting the public path works with the `javascript()` function and others like `sass()` but when trying to compile using `babel()` it takes the root directory as the public directory, ignoring the `setPublicPath()`.

### Steps To Reproduce:

T

[2021-09-20 07:32] nickwelsh1 commented on #2604
asdf

[2021-09-20 07:47] nickwelsh1 commented on #2604
If I'm reading correctly, @thecrypticace said that with webpack-cli 4 pass through options will not work.
But I did a basic test with Webpack 5.53.0 including webpack-cli ^4.8.0 and it seemed to accept pass through options without error?

In my **Laravel Mix 6** project I'm getting the same error as @arjendejong12
[code]

[2021-09-20 14:04] thecrypticace commented on #2604
You would have to run that like `yarn dev -- -- --env=foo` — But this does *not* set process.env vars which is what I was referring to.

[2021-09-21 01:58] kaaaaaaaaaaai commented on #3100
i hit same problems

[2021-09-21 13:46] HDVinnie opened #3107 "CVE-2021-3807"
-   Laravel Mix Version: laravel-mix@6.0.31
-   Node Version: v14.17.6
-   NPM Version: v6.14.15
-   OS: Ubuntu 20.04

### Description:
Dependabot cannot update ansi-regex to a non-vulnerable version
The latest possible version that can be installed is 5.0.1 because of the following conflicting dependency:

laravel-mix@6.0.31 requires ansi-regex@^5.0.0 via strip-ansi@6.0.0
The earliest fixed versi

[2021-09-21 23:33] thecrypticace commented on #3107
Run yarn upgrade or npm upgrade to fix. ansi-regex 5.0.1 has the fix as well.

[2021-09-21 23:33] #3107 closed

[2021-09-22 07:18] raimondas-nuz opened #3108 "process.env.MIX_ONBOARDING_URL variable is undefined"
-   Laravel Mix Version: 6.0.31 (`npm list --depth=0`)
-   Node Version (`node -v`): 14.15.5
-   NPM Version (`npm -v`): 6.14.11
-   OS: Ubuntu

### Description:
I have a vue component that uses process.env.MIX_ONBOARDING_URL and locally it's working like a charm, but I started to migrate to serverless using Vapor and after deployment there is a "Ts.env.MIX_ONBOARDING_URL" instead of "http://examp

[2021-09-22 12:48] mikerogerz commented on #2985
@dionysiosarvanitis Where you able to find a solution? Running into the same issue since upgrading to version 6 (from 5).

[2021-09-22 13:38] thecrypticace commented on #2985
This was an intended change. The behavior previously was more or less undefined. We should be able to control this though.

[2021-09-22 14:38] kaiyum2012 commented on #2920
I am having a same issue, with `mix.vue({version:3});`

[2021-09-22 22:00] NikoVonLas commented on #2791
Add to you dev dependencies
[code]
Then `npm i` and `npm run prod/dev/watch`

[2021-09-22 23:14] terrancecorley commented on #3012
@austriker27 Could you share your laravel mix config that got this to work? I'm running into a similar issue where I'm trying to access a font in React but get this...

![image](https://user-images.githubusercontent.com/20272233/134434003-ca6a1670-22b3-43da-b48a-75c139a906c1.png)

[2021-09-23 18:06] dionysiosarvanitis commented on #2985
I'm not sure what initially went wrong. I was suddenly able to build successfully. My current configuration is:

[code]

[2021-09-23 21:22] thecrypticace commented on #2067
I want to look into this. Not sure if anything will come of it but I'd like to at least see what we have to do to support it and if it's feasible.

[2021-09-24 13:00] Eldair commented on #2463
Hi,

`preserveWhitespace` is deprecated and new option is `whitespace`
This is the new syntax:
[code]

[2021-09-24 20:03] JackWH commented on #2907
This is still an issue in v6.0.13, so should be re-opened.

It can be bypassed by calling `yarn run production` (or equivalent) _twice_, but that's obviously not ideal for deployment speeds.

[2021-09-26 08:43] iraklisg opened #3110 "Error TS6133: '$props' | '$setup' | '$options' is declared but its value is never read when building Vue SFC"
-   Laravel Mix Version: 6.0.31
-   Node Version: 16.6.2
-   NPM Version: 7.20.3
-  Webpack Version: 5.53.0
-   OS: 5.10.63-1-MANJARO (Arch Linux)

### Description:

In a fresh Laravel installation I have installed typescript

[code]

My `tsconfig` file is the following
[code]

My `webpack.mix.js file` is the following:

[code]

My entrypoint (renamed to `app.ts`):

[code]

I have created the foll

[2021-09-26 12:47] muradbdinfo commented on #2761
npm upgrade
is fix my problem.
![image](https://user-images.githubusercontent.com/56858449/134808654-26497ab1-4371-4511-852a-69f3c741ba00.png)

you can checkout my youtube channel.
https://www.youtube.com/c/EasyITsolutions

[2021-09-26 13:23] thecrypticace commented on #3110
It is very unlikely this is related to mix but I'll poke around to see what I can figure out

[2021-09-27 01:44] thecrypticace commented on #3110
This consistently happens regardless of package manager used to install or run the scripts. It also happens when invoking mix directly using `./node_modules/.bin/mix`. There was one case I saw where it did not happen. I cannot reliably reproduce the situation however which leads me to believe it's possibly a race condition in ts-loader causing it to not report errors in some instances.

**In any c

[2021-09-27 01:44] #3110 closed

[2021-09-27 16:50] Lukasz93P commented on #934
If someone tells that "query string is enough" then I have one question - what about rolling updates??
If I have many web servers I can have the best CDN which supports query string but I can't deal with situation when part of servers has the never version and some of them not.

If versioning was using hashing not query string I could do it like that:
Upload new versions to the shared object stora

[2021-09-27 17:01] thecrypticace commented on #934
If you're using a CDN that handles long-term asset caching based on query string then the old version will be in the cache even after you upload the new file. This will handle rolling updates appropriately.

Having said that there are other reasons that using file name versioning could be a good idea like the ability to use an immutable cache and protection from file/image/etc… name collisions dur

[2021-09-27 22:00] mikerogerz commented on #2985
Based on my testing, the order is correct with:
`extractStyles: true`

But not using a defined path, such as in my case:
`extractStyles: 'static/landing/css/landing.css'`

In the second configuration, global styles are loaded after the component styles (instead of before in version 5).

[2021-09-27 22:09] thecrypticace commented on #2985
@mikerogerz Is `static/landing/css/landing.css` an existing file with other CSS placed in it?

[2021-09-27 22:11] mikerogerz commented on #2985
@thecrypticace It's the location to output the generated css to. The styles come from the components.

[2021-09-27 22:13] thecrypticace commented on #2985
Oh you mean using `globalStyles` in conjunction with `extractStyles`?

[2021-09-27 22:15] mikerogerz commented on #2985
@thecrypticace Exactly, which worked fine before (unless it was an unintentional before to be in that order):

[code]

[2021-09-27 22:24] ftbastler opened #3111 "Using config "imgLoaderOptions" fails with "Invalid host defined options""
-   Laravel Mix Version: 6.0.31
-   Node Version: v16.8.0
-   NPM Version: 7.24.1
-   OS: macOS

### Description:

[code]

### Steps To Reproduce:

#### webpack.mix.js
[code]

#### package.json
[code]

Maybe related to https://github.com/danielstgt/laravel-mix-svg-vue/issues/8 ?

[2021-09-27 22:29] thecrypticace commented on #3111
The ESM import shouldn't be an issue because it's a dynamic import. However webpack CLI does weird stuff with dynamic ESM imports. I'll make a note to add integration tests for this and figure out a fix for Mix v6.1. I'm planning to add ESM mix config file support there as well.

[2021-09-27 22:31] thecrypticace commented on #2985
Global styles should absolutely be _first_ in that. They're primarily intended for use in things like sass / less to define global variables which is why they need to be first. 🤔

[2021-09-27 22:32] ftbastler commented on #3111
Any short-term fix I could apply?

[2021-09-27 22:33] thecrypticace commented on #3111
At the moment the only thing I can think of is using yarn + resolutions to fix the imagemin version at 3.0 instead of 4.0. Otherwise, I'm not sure.

[2021-09-27 22:42] thecrypticace commented on #3111
You can maybe try using this:
[code]

[2021-09-28 08:12] 321zeno commented on #2756
Overriding the file-loader via `mix.webpackConfig()` worked for me:

[code]

The `test` regex has to match the default Webpack config in order to override the rule. I used `mix.dump()` to find out the
default Webpack config.

The config set using `mix.override()` seemed to be ignored in Mix 6.

[2021-09-28 17:28] tinyfly commented on #2756
@321zeno I like this solution better than mine. I'm going to give it a shot. Thanks!

[2021-09-29 02:31] matthewjumpsoffbuildings commented on #2961
I ran into this issue recently - i need to compile my pug templates to html first, before the SASS/Tailwind/PurgeCSS step, otherwise PurgeCSS strips _everything_ out of the output CSS file :(

[2021-09-29 02:36] thecrypticace commented on #2961
@matthewjumpsoffbuildings You should configure your purge configuration in tailwind to read from your pug templates to fix that. Priority selection is out of scope for a tool like Mix. At that point you really are looking for a tool like gulp because you need to perform arbitrary tasks in an arbitrary order.

[2021-09-29 02:40] matthewjumpsoffbuildings commented on #2961
unfortunately thats not an option, since the class names are generated dynamically in the pug templates, and so PurgeCSS _has_ to look at the output html files

so you are saying that having mix respect step definition sequence is just not an option? eg if your config is
[code]
there is no possibility of having that respected?

[2021-09-29 02:45] thecrypticace commented on #2961
1. Dynamic class name generation is explicitly recommended against in the tailwind documentation for this reason. It's fundamentally incompatible with tools like JIT.

2. The order of calls in the mix config for the most part does not matter and making that the case could (and very likely would) be a breaking change. It's also a non-trivial change because mix is built on top of webpack & dependenc

[2021-09-29 02:52] matthewjumpsoffbuildings commented on #2961
yea i agree dynamic class name gen is inadvisable :) this is my biggest gripe with tailwind, the need for the whole purge step nonsense

for now i am getting around it with 2 separate mix files, which i call in sequence and use `laravel-mix-merge-manifest`

i didnt know about the `.before()` method, will look into it. thanks

[2021-09-29 02:55] thecrypticace commented on #2961
There is one possible solution that may work in Mix v6.1 when multiple build support lands but I'm honestly not actually sure if it will. I'll keep it in mind and make a note if it does or does not.

[2021-09-29 06:52] raimondas-nuz commented on #3108
Anyone?

[2021-09-29 15:05] thecrypticace commented on #3108
I don't have a lot of experience with Vapor so I'm not sure but if I find some time to play around with it soon I'll see what I can figure out.

[2021-09-29 21:57] estern67 commented on #1072
For Windows users

1. Delete `node_modules` folder
2. Delete `package-lock.json` file
3. Run `npm cache clear --force`
4. Run `npm install`

[2021-10-01 04:11] azizbekr commented on #198
Thanks)) it works!!!

[2021-10-02 11:57] jayimillena commented on #1072
Thank you very much, this work on my end

[2021-10-03 04:23] jxjj commented on #2719
Here's whats working for me, in case it helps anyone. It's a combination of the above advice, so thank you everyone for sharing! I imagine some steps are unnecessary, but... 🤷

I noticed that I needed to run `sail npm run dev` before `sail npm run hot` would work for me.

### 1

Open the port `8080` in the `docker-compose.yml` file:

[code]

### 2

Add the devserver config to `webpack.mix.js`:

[c

[2021-10-03 05:55] antonioreyna commented on #2743
is it possible to ignore the url rewrite with the absolute path but keep the versioning at the end? like in ```url(/images/thing.png?d41d8cd98f00b204e9800998ecf8427e);```

[2021-10-04 11:55] raimondas-nuz commented on #3108
I added

`console.log(process.env.MIX_ONBOARDING_URL);`

in my mix file. On local machine I see the proper url from .env file, in staging it is undefined.

[2021-10-05 13:53] akil-b15 commented on #2761
npm upgrade
works for me :)

[2021-10-06 05:28] Dlas1212 opened #3112 "npm run prod breaking site - Uncaught SyntaxError: 60"
-   Laravel Mix Version: 6.0.31
-   Node Version (`node -v`):  16.10.0
-   NPM Version (`npm -v`): 7.24.0
-   OS: Ubuntu 18.04

### Description:

When I run `npm run prod` everything runs successfully, although I get an error on `app.min.js `

`Uncaught SyntaxError: 60`

If I run `npm run dev`, everything is fine.

webpack
[code]

Some of the packages in `package.json`

[code]

[code]

### Steps T

[2021-10-07 14:10] Darkproduct opened #3113 "ERROR in parent.eval is not a function"
-   Laravel Mix Version: 6.0.31
-   Node Version: v14.16.0
-   NPM Version: 7.20.0
-   OS: Microsoft Windows [Version 10.0.19042.1237]
-   Homestead: v12.6.1
-   Settler: v11.4.0

### Description:
I'm trying to get TypeScript support on an existing Vue project. I would like to update gradually, keeping all the JavaScript code in place and using TypeScript for everything new or where there is a nee

[2021-10-08 05:54] lorvent opened #3114 "any option to add delay?"
Hello Team,

### Description:
I have a giant file where i want to run `mix.sass` and then combine that css file with many others.

example code looks like this

[code]

the problem is.... when i run `npm run dev` for first time, it is not picking up `destCss + 'bootstrap.min.css'` so page gets broken.

if i run `npm run dev` once again then page works fine because file `destCss + 'bootstrap.min.cs

[2021-10-10 17:48] #2907 closed

[2021-10-10 17:48] #2624 closed

[2021-10-10 23:20] #3052 closed

[2021-10-11 06:36] ChaerilM opened #3117 "this.files.get is not a function when combining file"
-   Laravel Mix Version: 6.0.32 (`npm list --depth=0`)
-   Node Version (`node -v`): v14.18.0
-   NPM Version (`npm -v`): 6.14.15
-   OS:

### Description:
I update some packages today, and seems it need node >14.17, so I installed new node and yarn. rimraf node_modules, reinstall packages, when I run watch I got these error.
### Steps To Reproduce:
[code]
- yarn run watch

(node:28032) UnhandledP

[2021-10-11 10:55] scriptmintsolution commented on #3117
Yes, getting the same error while combining css.

[2021-10-11 13:31] jlopes90 commented on #3117
+1

[2021-10-11 14:03] #3117 closed

[2021-10-11 15:29] mikloshumli opened #3118 "Babel error UnhandledPromiseRejectionWarning webpackPlugins/CustomTasksPlugin.js:30:36"
-   Laravel Mix Version: 6.0.32 (`npm list --depth=0`)
-   Node Version (`node -v`): v14.15.1
-   NPM Version (`npm -v`): 7.8.0
-   OS: MaxOS Big Sur 11.6

### Description:
Babel error
(node:77285) UnhandledPromiseRejectionWarning: TypeError: this.files.get is not a function
    at ConcatenateFilesTask.watch (/node_modules/laravel-mix/src/tasks/Task.js:23:32)
    at /node_modules/laravel-mix/src/w

[2021-10-12 04:13] vahidalvandi opened #3119 "have issue in run bellow webpack config in laravel mix"
"laravel-mix": "^6.0.6",
-   Node Version (`node -v`): v14.15.5
-   NPM Version (`npm -v`): v14.15.5
-   OS: ubuntu 20

### Description:
**i want to run bellow source webpack config in laravel mix**  but have bug after compile in chrome console  **external var "prestashop":1 Uncaught ReferenceError: prestashop is not defined**

`const TerserPlugin = require("terser-webpack-plugin");

module.export

[2021-10-13 02:22] rognales opened #3121 "mix.version() is breaking if artisan file is not found is same directory"
-   Laravel Mix Version: laravel-mix@6.0.34
-   Node Version (`node -v`): v14.17.0
-   NPM Version (`npm -v`): 6.14.13
-   OS: Windows 10 64 Bit

### Description:

Docker multi-stage build failed if we set ````mix.version()```` which is running in production mode.
Main suspect is Mix is explicitly looking for ````artisan```` file.

Same thing happens if we removed/renamed ````artisan```` in a Lara

[2021-10-13 02:48] thecrypticace commented on #3121
I think it's likely this error has been happening for a while but was silently failing. We now properly handle errors thrown by tasks whereas they weren't before.

As for the bug itself I'm not sure how moving `artisan` from a project root would break this but I'll take a look later this week (I don't have time at the moment sorry 😢).

For now I suggest using the setPublicPath workaround.

[2021-10-13 09:56] sobrborsen opened #3122 "The vue example does not work"
-   Laravel Mix Version: laravel-mix@6.0.34
-   Node Version (`node -v`): v12.21.0
-   NPM Version (`npm -v`): 7.5.2
-   OS: Ubuntu 21.04

### Description:
Your very simple example does not work. I would expect the message from Alert to be displayed.

### Steps To Reproduce:
- Create a default laravel project with: composer create-project laravel/laravel delete-me
- run npm install
- run npm insta

[2021-10-14 10:40] #3113 closed, assigned to nobody

[2021-10-14 14:47] mikkpokk opened #3123 "Specifying custom localIdentName"
-   Laravel Mix Version: 6.0.34 (`npm list --depth=0`)
-   Node Version (`node -v`): 16.0.0
-   NPM Version (`npm -v`): 7.19.1
-   OS: macOS Big Sur 11.6

### Description:

By default class names are compiled as follows: `_2SDFUjk-ik2BVpsnbsG_nm`. However, I believe most of us are interested specifying custom local ident name for ex. `[local]_[hash:base64:5]`. Unfortunately, Laravel Mix 6 document

[2021-10-14 15:28] thecrypticace commented on #3123
Took me a second to figure out what this was about. `localIdentName` is for css-loader. No there's no easy way to configure this currently.

[2021-10-14 22:43] rredel opened #3124 "Webpack needs to be installed globally - Should use project installation"
-   Laravel Mix Version: 6.0.34
-   Node Version: 12.16.3
-   NPM Version: 6.14.4
-   OS: Windows 10

### Description:
If Webpack or Webpack-CLI is not installed globally, running `mix` fails with error `Cannot find module 'webpack-cli/package.json'` although it's present within the project's Node Modules.

### Steps To Reproduce:

1. run `npm uninstall webpack -g`
2. run `npm i` (within the Larav

[2021-10-15 07:04] sobrborsen commented on #3122
Thanks and it works :-)

[2021-10-15 09:52] ThaDaVos commented on #3035
Having same issue and pulling my hair out to get it working... first off `--key` didn't work anymore, also if you check the Laravel mix documentation for HMR, in laravel 6 they removed documentation about HTTPS support

6.0: https://laravel-mix.com/docs/6.0/hot-module-replacement
5.0: https://laravel-mix.com/docs/5.0/hot-module-replacement

[2021-10-15 11:02] ThaDaVos commented on #3035
It seems you have to put your `devServer.https` into your `hmrOptions.https` - then mix will use it (also leave out the `--https`)

But for some reason it's using the wrong port now...

[2021-10-15 14:03] ThaDaVos commented on #863
Maybe stupid for commenting on an old issue... but IT SEEMS TO BE BROKEN AGAIN IN LARAVEL MIX 6... so... my next point on the agenda? REMOVE Laravel Mix... I am done with it...

[2021-10-15 14:08] ThaDaVos opened #3125 "Dynamic Chunk Loading broken again as the publicPath or something else is wrong again..."
-   Laravel Mix Version: laravel-mix@6.0.34
-   Node Version (`node -v`): v15.14.0
-   NPM Version (`npm -v`): 7.7.6
-   OS: Ubuntu

### Description:
For some-reason it seems that when using dynamic chunk loading using dynamic imports, Laravel Mix set's it up so files are loaded from relative urls... for example, you're at `example.com/page_1/sub_page_1`, then Laravel Mix will try to load your js

[2021-10-15 17:29] projct1 opened #3126 "Cant build bootstrap5 scss"
-   Laravel Mix Version: 6.0.34
-   Node Version (`node -v`): 14.17.3
-   NPM Version (`npm -v`): 6.14.13
-   OS: Windows 10

### Description:
I using last version of sass (1.43.2) and sass-loader (12.1.0) and bootstrap (5.3.1)
My app.scss is:
[code]
But after run build, i got error
![image](https://user-images.githubusercontent.com/9752959/137528659-6ccad012-24a1-4e66-9fda-9d6e196c8794.png)
[code

[2021-10-15 18:39] #3126 closed, assigned to nobody

[2021-10-16 10:51] strarsis opened #3127 "[website] `Released [...] ago` incorrect"
On the Laravel Mix website for the [`laravel-mix-imagemin` extension](https://laravel-mix.com/extensions/imagemin) is noted that it was released `4 hours ago`.
However, the [latest `npm` package](https://www.npmjs.com/package/laravel-mix-imagemin) was published more than two years ago, the same with the last commit on the [corresponding GitHub repository](https://github.com/CupOfTea696/laravel-mix

[2021-10-16 15:01] thecrypticace commented on #3124
Without a reproduction there's not much I can do here. Seeing as it's not a problem with any other project I suggest poking around with the npm configs on the project you have (unless you can provide it privately so I can take a look?).

On that I'm going to close the issue but if you make more headway on a reproduction or are able to provide a the reproduction privately feel free to reopen the is

[2021-10-16 15:01] #3124 closed

[2021-10-16 15:10] thecrypticace commented on #3125
Can you provide a reproduction repo for this? It would help with triaging the issue much quicker.

Do you have a short list of everything you ran into?

[2021-10-17 21:47] vlados opened #3128 "Hot Module Replacement is not reloading blade changes"
-   Laravel Mix Version: 6.0.34 (`npm list --depth=0`)
-   Node Version: v15.8.0 (`node -v`):
-   NPM Version: 7.21.1 (`npm -v`):
-   OS: MacOS 12.0 Beta (21A5534d)

### Description:
Hot Module Replacement is not reloading blade changes
### Steps To Reproduce:
1. Create a new project `laravel new laravel-mix-hot-test`
2. Install all npm packages `npm i`
3. Update npm packages to latest `npm update

[2021-10-18 17:02] ankurk91 commented on #3128
https://webpack.js.org/configuration/dev-server/#watch

Laravel-mix can watch the blade templates, which will cause dev server to reload the page

[2021-10-18 19:46] #3128 closed

[2021-10-19 19:55] NicolasReibnitz opened #3130 "Multiple Vue versions in one Laravel app?"
-   Laravel Mix Version: 6.0.31 (`npm list --depth=0`)
-   Node Version (`node -v`): v14.16.0
-   NPM Version (`npm -v`): v7.24.0
-   OS: macOS BigSur v11.6

### Description:

In order to progressively update a rather large Laravel app from vue2 to vue3 (including all the depending packages that need updating, like Quasar), I would like to mix different Vue versions in one Laravel Mix setup.

I th

[2021-10-20 14:03] vilbergs opened #3131 "Disable source-maps for injected Vue `<style>` tags"
-   Laravel Mix Version: 6.0.34
-   Node Version (`node -v`): 16.7.0
-   NPM Version (`npm -v`): 7.24.0
-   OS: MacOS

### Description:

Hey!

We are using Laravel mix to build a **Vue** application and we've noticed a significant increase in bundle sizes when using the `mix.sourceMaps()` option. This is due to a base64 encoded source-map being inlined into every single `<style>` tag generated fro

[2021-10-21 02:29] russellxrs opened #3132 "Can not share variables between scss and js files"
I'm using laravel mix to build and complie my front-end files, and trying to share variables between scss file and js, here is my scss file and app.js file.

`variables.scss`
[code]

`app.js`
[code]

It should print an object `{color: '#ffffff'}` defined in `variables.scss` file. But instead It prints out an empty object.

It's a brand new project,

I use `laravel new my-project` to download larav

[2021-10-21 06:57] vilbergs commented on #3131
If it helps, here's the code I used for reproducing the desired result in plain vue / webpack,

[2021-10-21 09:00] JaySmyth opened #3133 "Laravel 8 is compiling conditional statements and loops out of order from what is written in the blade templates."
-   Laravel Mix Version: 8.64.0 (`npm list --depth=0`)
-   Node Version (`node -v`): 10.19.0
-   NPM Version (`npm -v`): 6.14.4
-   OS: Ubuntu 20.04

### Description:  Laravel 8 is compiling conditional statements and loops out of order from what is written in the blade templates.

### Steps To Reproduce:  Follow the Laracasts series Laravel 8 From Scratch

`@props(['posts'])

@if($posts === null

[2021-10-21 20:12] BartPlaza commented on #3132
This should help: [https://github.com/webpack-contrib/sass-loader/issues/206#issuecomment-739041668](https://github.com/webpack-contrib/sass-loader/issues/206#issuecomment-739041668)
In a nutshell change file name to variables.module.scss.

[2021-10-22 01:25] craigrileyuk commented on #2605
I've just hit this exact same issue too. mix.css() from "packages/xx/public/package.css" works, but "vendor/namespace/xx/public/package.css" doesn't despite the latter being symlinked to the former.

[2021-10-22 01:56] russellxrs commented on #3132
@BartPlaza
It helps me a lot!  At least I can rename my scss file to .module.scss without change any default settings.
And I dump the whole default rules on console.here it is, this is why cause this problem.
The modules is set to `modules: { auto: true }`

https://github.com/webpack-contrib/css-loader#auto

[code]

so,other problem would be,how can I override the default settings of mix, change `

[2021-10-22 11:38] Puzo opened #3134 "Asset compiler and vendor background image paths"
-   Laravel Mix Version: 6.0.34 (`npm list --depth=0`)
├── @tailwindcss/forms@0.2.1
├── @tailwindcss/typography@0.4.1
├── @tarekraafat/autocomplete.js@10.2.6
├── alpinejs@2.8.2
├── autoprefixer@10.3.7
├── axios@0.21.4
├── flatpickr@4.6.9
├── laravel-mix@6.0.34
├── lodash@4.17.21
├── postcss@8.3.10
├── postcss-import@12.0.1
├── quill@1.3.7
├── resolve-url-loader@4.0.0
├── sass@1.43.2
├── sass-loade

[2021-10-22 13:27] #3132 closed, assigned to nobody

[2021-10-23 19:00] samehdoush opened #3135 "Module build failed sass-loader/dist/cjs.js SassError"
-   Laravel Mix Version: #.#.# (`6.0`)
-   Node Version (`v14.18.0`):
-   NPM Version (`6.14.15`):
-   OS: windwos 11

### Description:
error
[code]

bordered.scss
[code]
webpack.config.js
[code]

webpack.mix.js
[code]

[code]

What is the error in the code? Or how can I solve the problem?

[2021-10-24 23:44] #3135 closed, assigned to nobody

[2021-10-26 21:06] DarkGhostHunter opened #3137 "Doesn't work on Node 17"
## Maintainer's note: Mix v6.0.36 should fix this problem _for most_. If you have further issues please add a comment with details about your environment and setup.

---

-   Laravel Mix Version: v6.0.0 (`npm list --depth=0`)
-   Node Version (`node -v`): 17.0.1
-   NPM Version (`npm -v`): 8.1.1
-   OS: Windows/Linux/WSL2

### Description:

Using the package gives the following error:

[code]

###

[2021-10-27 16:07] kabatp opened #3139 "npx mix returning syntax error"
-   Laravel Mix Version: 6.0.34
-   Node Version (`node -v`): 16.13.0
-   NPM Version (`npm -v`): 8.1.1
-   OS: Windows 11 Pro 22000.282 (the same issue happening on Windows 10 Home 21H2)

### Description:
I am trying to install Laravel Mix again (changed PCs), I am using [official documentation steps](https://laravel-mix.com/docs/6.0/installation) and I am receiving the following error after usin

[2021-10-27 16:38] #3139 closed, assigned to nobody

[2021-10-28 22:55] #3137 closed, assigned to thecrypticace

[2021-10-29 01:35] naufalfarras opened #3141 "No Versioning on Generated Images when using Custom Webpack Plugin"
-   Laravel Mix Version: 6.0.31 (`npm list --depth=0`)
-   Node Version (`node -v`): v14.17.3
-   NPM Version (`npm -v`): 6.14.13
-   OS: MacOS Monterey 12.0.1

### Description:
Basically i want to convert all possible images format (png, jpg, jpeg, gif) to webp, i already using this plugin "[laravel-mix-webp](https://www.npmjs.com/package/laravel-mix-webp)", and this is my configuration files

[c

[2021-10-29 20:25] benjivm opened #3144 "Digest method not supported"
-   Laravel Mix Version: 6.0.35
-   Node Version: 17.0.1
-   NPM Version: 8.1.0
-   OS: Windows 10

### Description:

All `mix` commands fail with:

[code]

I did try downgrading node to 16.9.1, and 16.0.0, with no luck.

[2021-10-29 20:29] benjivm commented on #3144
Running `npm upgrade` fixes this issue.

[2021-10-29 20:29] #3144 closed

[2021-10-30 03:46] jasperf opened #3145 "Post Upgrade to Laravel Mix 6 Conflicting peer dependency: eslint@8.1.0"
-   Laravel Mix Version: `6.0.34` `(`npm list --depth=0`)`

[code]
-   Node Version (`node -v`): `v16.9.1`
-   NPM Version (`npm -v`): `7.21.1`
-   OS: macOS Catalina 10.15.7 (19H1519)

### Description:

Upgraded to Laravel Mix 6 and all is almost working. But when I now do an audit I get a peer depenency issue . Seems colors used by table-cli used by laravel-mix is clashing with eslint. Updating/

[2021-10-30 03:53] thecrypticace commented on #3145
This isn't a Mix issue. Something seems weird here because eslint-config-google is a *dev dependency* of colors. It should not be installed by npm…

Having said that I'm gonna be replacing cli-table3 (sooner rather than later) so this may just become a nonissue.

[2021-10-30 04:06] jasperf commented on #3145
Need to work this out some way myself until there is an update. Do see this however:

[code]

so eslint is a peer dependency and dev dependency for for `eslint-config-google`.

For colors it is only a dev dependency as you said @thecrypticace :

[code]

[2021-10-30 06:22] jasperf commented on #3145
When I use

[code]

with `"eslint": "^6.8.0 || ^8.1",` to allow for both version 6 and 8 in the app's main `package.json` I can run `npm audit fix` without any errors:

[code]

will need to test some more as I do get this error post `npm run dev` - which takes quite a while

[code]

[2021-10-30 10:53] vahidalvandi opened #3146 "copyDirectory with regex"
-   Laravel Mix Version: 5
 hi , do i can copy Directory like files with regex

`    .copyDirectory('vendor/module/**/src/public', 'public')
`

return errro

[2021-10-30 14:21] jringeisen commented on #2737
Make sure the `mix.options({legacyNodePolyfills: false})` is ran before the mix.js(). I noticed that running it after caused FullCalendar to throw a bunch of errors.

[2021-10-31 03:07] jasperf commented on #2766
Using `.default `at `window.Vue = require('vue').default;` in `bootstrap.js` only caused

[code]

for us.

Using `.vue({ version: 2 });` instead of `.vue();` did not matter either. I also understood that is not really necesasry reading the [documentation](https://laravel-mix.com/docs/6.0/upgrade#api-for-javascript-frameworks).

_Mix will automatically detect whether you have Vue 2 or 3 installed,

[2021-10-31 05:08] thecrypticace commented on #2766
Makes it sound like Vue 3 is installed instead of Vue 2.

[2021-10-31 15:01] omarfaruk542 commented on #478
"scripts": {
        "dev": "node node_modules/cross-env/src/bin/cross-env.js NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",
        "development": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",

[2021-10-31 15:03] omarfaruk542 commented on #478
"scripts": {
        "dev": "node node_modules/cross-env/src/bin/cross-env.js NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",
        "development": "cross-env NODE_ENV=development node_modules/webpack/bin/webpack.js --progress --hide-modules --config=node_modules/laravel-mix/setup/webpack.config.js",

[2021-11-01 00:34] jasperf commented on #2766
Yeah @thecrypticace , I wondered about that as well, but  `npm list vue` shows me Vue 2.6.14 for our application:

[code]

And the error details refers to`bootstrap.js` and then these lines. One for loading Vue and making it global in Laravel and one to use Vue Portal:

[code]

![Screen Shot 2021-11-01 at 7 26 30 AM](https://user-images.githubusercontent.com/344138/139606613-64ef39d2-a78e-4c03-b09

[2021-11-01 20:31] rgyph commented on #2884
If anyone else has a similar problem, this will probably help you:

[code]
The [path] pattern will prevent all images from being merged into the same directory.

[2021-11-02 08:41] jasperf commented on #3073
No feedback using ` node --trace-deprecation webpack.mix.js `

[2021-11-02 10:38] jasperf commented on #2766
Needed

[code]

in `webpack.mix.js` in our case running Vue 2.6.14 using `vue.common.js` which _is the Runtime only CommonJS build (vue.runtime.common.js)._  often used with older bundlers. See [Vue Docs Terms](https://vuejs.org/v2/guide/installation.html#Terms) .

We are using Webpack 5 now, but it seems we need this setup. Also see https://github.com/vuejs-templates/webpack/issues/215 with menti

[2021-11-02 11:27] jasperf commented on #3145
Seems with eslint and sasss upgrade, eslint-loader removal all issues are gone now. So will close this issue for now.

[2021-11-02 11:27] #3145 closed

[2021-11-02 11:35] jasperf opened #3148 "Lravel Mix 6 Build shows compiled successfully 3 times including build files"
-   Laravel Mix Version: `6.0.34` (`npm list --depth=0`)
[code]

-   Node Version (`node -v`):  `node --version v16.13.0`
-   NPM Version (`npm -v`): `npm --version 8.1.0`
-   OS: macOS Catalina

### Description:

Build shows compiled succesfully 3 times including build files:

[code]

with the same time in ms.

Here is the `webpack.mix.js` file contents:

[code]

Any ideas why this is happening?

[2021-11-02 18:10] thecrypticace commented on #3073
Try `NODE_OPTIONS="--trace-deprecation" npm run build`

[2021-11-02 18:33] #3020 closed

[2021-11-02 19:51] martsie commented on #2450
Same issue with 5.0.9 - rolled back to 5.0.4 to fix issue.

[2021-11-03 00:12] jasperf commented on #3073
@thecrypticace Thanks for that. I ran `NODE_OPTIONS="--trace-deprecation" npm run dev` and no feedback. Well, currently `npm run audit` also tells all is well (no issues to fix) and I did updates in this developer branch using Laravel Mix 6 so perhaps all is well as it is.

[2021-11-03 00:18] emmanuelkamala commented on #2383
This worked for me:

yarn upgrade --scope @babel

[2021-11-03 00:24] jasperf commented on #3148
Perhaps it is not just duplicates...

After first block it shows

[code]

after second

[code]

and after last

[code]

Only all three start with

[code]

[2021-11-03 02:27] jasperf opened #3149 "ESLint and eslint-webpack-plugin"
-   Laravel Mix Version: 6.0.34 (`npm list --depth=0`)
[code]
-   Node Version (`node -v`): v16.13.0
-   NPM Version (`npm -v`):
-   OS:

### Description:

How can we use Laravel Mix to use eslint in our development builds:

[code]
?

Just removed `eslint-loader` is is no longer developed and we are recommended to use https://github.com/webpack-contrib/eslint-webpack-plugin . But is this needed in

[2021-11-03 02:40] thecrypticace commented on #3149
`webpackConfig` + `plugins: […]` is what you should do here.

I'd post questions like these on the Laracasts forums. The issues are preferably used for requests & bugs rather than general help questions.

[2021-11-03 02:40] #3149 closed

[2021-11-03 02:40] jasperf commented on #3149
Good idea. Will do. Thanks.

[2021-11-03 07:11] sebszocinski opened #3150 "Is watch meant to re-run all tasks on all files?"
Not sure if this is a configuration or plugin issue but I have a project with lots of pug files which I am compiling using [laravel-mix-pug-recursive](https://github.com/mikemartin/laravel-mix-pug-recursive), and it's painfully slow at compiling... around 20 seconds every time even when just making a simple change to one pug file.

Is there any way to only compile or run the pug task on that singl

[2021-11-04 10:46] CroitoriuDan commented on #2546
how can i remove the --hide-modules?

[2021-11-05 01:18] Mushr0000m opened #3151 "Disabling css minification for one file"
**Laravel Mix Version: 4.0.14 (but I have the same need for projects with v6)**

I use and love Mix, but I have an issue trying to disable minification for only one SASS file. This is because this file is use to style emails and some email client doesn't support minified css due to the looooong string it creates. Right now I have this :
[code]
So I want to disable minification only for the line `m

[2021-11-05 01:27] thecrypticace commented on #3151
Minification happens globally. This *may* be possible once I have time to land multiple build support but I'm not sure. I'll have to test it.

[2021-11-05 01:32] Mushr0000m commented on #3151
Thanks for your quick reply. I was afraid of that. And what about extending Mix to have a custom `breakLines()` to call like this : `mix.sass('resources/sass/emails/master.scss', 'theme/assets/emails.min.css').breakLines()` ? Is it possible with the way Mix work ?

[2021-11-05 03:18] thecrypticace commented on #3151
You can use `mix.then(async () => …)` to run code after the build has completed. Try something like this:

[code]

[2021-11-05 11:36] Mushr0000m commented on #3151
Thanks for the code it gived me a good starting point, I ended up using this (because I'm in an older version of Mix the V4) :
[code]

[2021-11-06 01:30] jringeisen commented on #2737
Anyone else having issues with this on the M1 Macbook Pro? I have identical environments setup on my iMac (Intel) and my Macbook (M1) but when I do this on my M1 Macbook it breaks my code. But works fine on my iMac (Intel).

[2021-11-06 01:57] #3151 closed

[2021-11-07 20:04] thecrypticace commented on #2916
Merged into master

[2021-11-07 20:04] #2916 closed

[2021-11-07 20:04] Gompje commented on #2737
@jringeisen nope. Its probably because your M1 has a newer version of things? I didn't have this issue on my M1 until I upgraded a bunch of dep and did a full reset of the .lock file.

Think it must be the version of Webpack -- given I had to change the ignore config for moment. bit annoying given it was already on v5.x I mean things  like this shouldn't break inside the same major version..don't

[2021-11-07 20:07] jringeisen commented on #2737
@Gompje I currently have the environments on both machines set exactly the same with the same versions of everything and the code is pulled from GitHub so the code is the same on both machines. I'll keep playing around and see if I can narrow down the issue but as of right now it's annoying not being able to work from my laptop.

[2021-11-07 20:24] Gompje commented on #2737
@jringeisen I was too fast to cry victory as well :(

while I can build, I cannot run my code given it does not include the `process/browser` I need for mermaid. I only have one machine, my M1 air. It was working fine before I upgrade some dep.

lets see  if I can find the cullprit

[2021-11-07 21:34] reisnobre opened #3154 "[Help needed] Laravel + Vue + Docker with Hot Reload"
-   Laravel Mix Version: 5.0.9
-   Node Version (`node -v`): v12.14.1
-   NPM Version (`npm -v`):  6.13.4
-   OS: Linux

### Description:
Hi Guys,
I'm setting up Laravel + Vue with Nginx and everything on docker... 95% is working, the only thing left is the hot-reload portion that is run on a node container.
I'm having trouble accessing the port 3000 that I've set up for my webserver.
The port is

[2021-11-07 22:09] Gompje commented on #2737
@jringeisen well.. I have it working now (I think) except for 1 js module. (mermaidjs) I've been running in circles.  it gives the same 'could not resolve' error and me a headache. Maybe tomorrow will bring new insights. sigh

I did have to set the flag to `true` though. and now things "work" except mermaid. although I still have to test more.

What is weird is that even when I did include all old

[2021-11-07 22:40] thecrypticace commented on #2737
I _might_ have a fix for this. Can you try the master branch and see if it happens to be fixed for you?

[2021-11-07 22:40] Gompje commented on #2737
@jringeisen sorry I feel like a stalker now, but: I got it working! 🎉  Seemed like some older legacy import code -- that loaded the mermaidjs seemed to have caused my issue. I think because one of the changes webpack made is the way/order it loads things. I updated that and it works for now.

So For now I can confirm it works fully on my M1. If you want help comparing notes/versions → shoot! :)

[2021-11-07 22:46] Gompje commented on #2737
@thecrypticace trippy: same time commenting :)  anyway I am not sure if I am a good test-person given that it was some legacy code thing that seemed to have caused the issue. (and setting the flag to `true`) but if you want, I can/will test. Tomorrow at the earliest (EU timezone)

[2021-11-07 23:24] jringeisen commented on #2737
@thecrypticace I pulled in the master branch recompiled successfully but my site was still broken. I removed the `  legacyNodePolyfills: false,` recompiled successfully and it seems fixed. Before, if I compiled without the `legacyNodePolyfills: false,` it wouldn't compile and would throw an error. Whatever you changed seems to work.

[2021-11-08 00:48] thecrypticace commented on #2737
I've published 6.0.38. It contains a handful of changes — the fix for this is one of them. I'm gonna close this issue but please feel free to do additional testing and comment if it isn't.

[2021-11-08 00:48] #2737 closed

[2021-11-08 05:14] developerkarthick commented on #2383
solved my problem, Thanks

[2021-11-08 14:55] thecrypticace commented on #3123
This was released in v6.0.38:

[code]

[2021-11-08 14:55] #3123 closed, assigned to nobody

[2021-11-08 21:59] reisnobre commented on #3154
I've made some progress... It seems that node will only serve files if my host is `0.0.0.0` and that causes issues because I'm running under another domain.
How do I change the server to be able to serve files under another domain?

[2021-11-09 00:05] lmammino commented on #2005
Any plan to reconsider this since now SWC is much more established (even used with next.js)?

[2021-11-09 19:46] aarbi commented on #2940
Fixed by #2939

[2021-11-09 19:46] #2940 closed

[2021-11-09 19:50] aarbi opened #3156 "Bundling images with the same file name but with different paths causes an error"
-   Laravel Mix Version: 6.0.0
-   Node Version: 14.17.0
-   NPM Version: 6.14.13
-   OS: MacOs Catalina

### Description:
When in the project we have multiple images that have the same filename, importing them into the project will cause an issue when bundling the project. Webpack is unable to overwrite the previously copied file to the public/images (or the dist folder) because it already exists

[2021-11-09 19:51] aarbi commented on #3156
CRA bundles images with a hash by default

[2021-11-09 20:03] aarbi commented on #3156
The error thrown while building:
[code]

[2021-11-10 04:44] plakhin commented on #2778
Can anyone tell finally what needs to be done to be able to use `@apply` directive inside a `.vue` file on the fresh Laravel 8 install?
What plugins need to be installed? What needs to be added into config(s)? Should one use `<style>` or `<style lang="postcss">`? What else?

[2021-11-10 15:49] userbig opened #3158 "Version 6.0.38 is breaking image output"
-   Laravel Mix Version: laravel-mix@6.0.38
-   Node Version (`node -v`): v14.18.0
-   NPM Version (`npm -v`): 6.14.15
-   OS: Pop!_OS 21.04 (ubuntu basically)

### Description:

After upgrading mix version from 6.0.31 to 6.0.39 images which is loading into vue component by `require('...image/path')` is failing to load and  become  `src="[object Module]"`  in HTML.

Image output is working correct

[2021-11-10 20:44] thecrypticace commented on #3158
this is because the file loader merge in this case is a bit fragile. We added avif image support to file-loader. If you fix your `test` it should fix it. The `esModule` problem itself is something we need to properly fix anyway as it's been an issue for a while now for anyone using Vue 2.

This is on my list to fix for Mix v6.1 somehow.

[2021-11-11 06:47] fylzero commented on #2756
@321zeno Implemented your solution, works great!

[2021-11-11 17:13] kitaliev opened #3159 "Stylus plugins not working inside vue components"
Hi!
-   Laravel Mix Version: 6.0.39
-   Node Version v14.17.3:
-   NPM Version 8.1.3:
-   OS: Win 10 (WSL 2 Ubuntu 20.04)

### Description:
Stylus plugins works only inside .styl files imported into main .styl file
When i'm using stylus components syntax inside vue components build fails with "Unknown Word" error which points to plugin syntax

### Steps To Reproduce:
0. Install some stylus plugin

[2021-11-11 18:03] khalyomede commented on #3101
First of all, thanks for all the work and time you and the team put in laravel-mix!

If I may suggest something: we should create an "Unreleased" section in the changelog. Plus whenever a new feature or fix is added, you just put a small excerpt (and ideally a link to the PR/issue), as part of the PR (or the commit if it's directly targeting the main branch).

So that you eliminate the need to "re

[2021-11-12 03:08] hellowebscc commented on #1670
Do I run each command on the terminal after deleting node.module?
I try but still message. HELP

[2021-11-12 05:33] cerw commented on #622
This is still happening for me.. anyone else?

[2021-11-12 08:26] Jami-14 opened #3160 "ERROR AL MOMENTO DE EJECUTAR MI MAPA LEAFLET EN MI LARAVEL"
## Buenas noches me sale este error en lo del mapa leaflet, uso el laravel 8, alguien podría decirme a que se debe?
![ERROR 1](https://user-images.githubusercontent.com/94165690/141434198-9fe649ac-9549-48ca-8720-db05b16afd1f.PNG)
![ERROR 2](https://user-images.githubusercontent.com/94165690/141434376-6741094d-dc3d-437a-88d1-d0f346161de9.PNG)

### Si desean captura de algun codigo con gusto muestro